---
breadcrumb: PCF Metrics Documentation
title: PCF Metrics Product Architecture
owner: PCF Metrics
list_style_none: true
---

This topic describes the product architecture of Pivotal Cloud Foundry (PCF) Metrics.

## <a id="overview"></a>Overview

The diagram below shows the components of PCF Metrics and the Cloud Foundry components that the PCF Metrics system interacts with.

The bold rectangles represent Cloud Foundry apps that PCF Metrics deploys. The cylinders represent the data storage components of PCF Metrics. 

<%= image_tag("architecture-15.png", :alt => "PCF Metrics 1.5 architecture") %>

The following sections explain processes that run within the PCF Metrics system.

##<a id="data-flow"></a> How Data Flows from the Firehose to the Datastores

This section describes how PCF Metrics fills its datastores. PCF Metrics uses three datastores:

* The **MySQL** component stores metric and event data from the apps running on your PCF deployment. 
	* Examples of events are `start` and `stop`. 
	* Examples of metrics are _container metrics_ such as CPU and _network metrics_ such as Requests. 
* The **PostgreSQL** component stores logs from the apps running on your PCF deployment.
* The **Redis** component caches data ingested from the Firehose and data queried by the Metrics API.

### Components

The diagram below highlights the components that convey metric and log data into the PostgreSQL and MySQL datastore.

<%= image_tag("data-ingestion-15.png", :alt => "Ingesting firehose data into PCF Metrics 1.5 datastores") %>

### Process 

The following table describes how the components act during each stage.

<table>
	<tr>
		<th>Stage</th>
		<th>Description</th>
	</tr>
	<tr>
		<td valign="top">1</td>
		<td>
		The <code>metrics-ingestor</code> app receives app logs, container metrics, and network metrics from the Firehose and forwards them to Redis.
		<br><br>
		Redis does the following:
			<ul>
				<li>Acts as a buffer for events and metrics data</li>
				<li>Acts as a cache</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td valign="top">2</td>
		<td>
		Each of the logqueues acts independently, writing information to the datastores:
		<br><br>
		
		<b>PostgreSQL logqueue</b>
		<br><br>
		The <code>postgres-logqueue</code> app reads data from Redis and checks whether the PostgreSQL datastore is available. If available, the app writes logs to the PostgreSQL datastore.
		<br><br>
		The <code>postgres-logqueue</code> prunes data older than the <code>Logs Retention Window</code> at UTC±00:00 every day or when the <code>postgres-logqueue</code> is restarted.
		<br><br>
		The <code>postgres-logqueue</code> will also prune logs data when the database surpasses the <code>Logs Max Retention Percentage</code> and checks this percentage at the <code>Logs Disk Size Pruning Interval</code>.
		<br><br>
		
		<b>MySQL logqueue</b>
		<br><br>
		The <code>mysql-logqueue</code> app reads data from Redis and checks whether the MySQL datastore is available. If the datastore is available, the app does the following:<br><br>
		<ul>
			<li>Inserts container and network metrics into MySQL with 1-minute granularity</li>
			<li>Parses app log messages for an app event name and inserts the event into MySQL</li>
		</ul>
		The <code>mysql-logqueue</code> prunes data older than the <code>Metrics Retention Window</code> at UTC±00:00 every day or when the <code>mysql-logqueue</code> is restarted.
	</tr>
</table>

##<a id="user-flow"></a> How the PCF Metrics UI Retrieves Data from the Datastores

This section describes the flow of data through the system when you interact with the PCF Metrics UI. 

### Components

The diagram below highlights the components involved in this process.


<%= image_tag("data-to-ui-15.png", :alt => "Displaying logs, events, and metrics data in the PCF Metrics 1.5 UI") %>

### Process

The following table describes how the components act during each stage.

<table>
	<tr><th>Stage</th><th>Description</th></tr>
	<tr><td valign="top">1</td>
		<td>
			A user launches <code>metrics.SYSTEM-DOMAIN</code> in a browser and enters their UAA credentials. 
		</td>
	</tr>
	<tr><td valign="top">2</td>
		<td>		
			After the UAA authorizes the user, the browser does the following:
			<br><br>
			<ol>
				<li>Retrieves through the Cloud Controller API a list of apps that the user can access</li>
				<li>Displays a page in which the user can select any app returned by the Cloud Controller API</li>
			</ol>
		</td>
	</tr>
	<tr><td valign="top">3</td>
		<td>
			A user selects an app from the dropdown menu, which does the following:<br></br>
			<ol>
				<li>Opens an AJAX connection to the metrics API to retrieve metrics and logs for the specified time frame</li>
			</ol>
		</td>
	</tr>
	<tr>
		<td valign="top">4</td>
		<td>
			The metrics API receives the requests from the browser and does the following:
			<br><br>
			<ol>
				<li>Communicates with the UAA and Cloud Controller to confirm that the user can access data for the requested app</li>
				<li>Fetches the data from MySQL and PostgreSQL and then streams it to the browser</li>
			</ol>
		</td>
	</tr>
</table>
