---
breadcrumb: Pivotal App Metrics Documentation
title: Pivotal App Metrics Product Architecture
owner: Pivotal App Metrics
list_style_none: true 
---

<p class="note warning"><b>Warning:</b> Pivotal App Metrics v2.0 is in Beta. To provide feedback on Pivotal App Metrics v2.0, email <a href="mailto:pivotal-app-metrics@pivotal.io">pivotal-app-metrics@pivotal.io</a>.</p>

## <a id="overview"></a>Overview

The diagram below shows the components of App Metrics and the Cloud Foundry components that the App Metrics system interacts with.

Understanding the diagram
* The cornered rectangles represent Pivotal Cloud Foundry tiles that App Metrics 2.0 depends on.
* The rounded rectangles represent customer interaction points.
* The cylinders represent the data storage components of App Metrics 2.0.
* The <span style="background:#9AC0CD">blue</span> components are packaged with App Metrics 2.0.

<%= image_tag("app-metrics-2-0-architecture.svg", :alt => "App Metrics 2.0 architecture") %>

## <a id="data-flow"></a>Data Flow

### Metrics
Metrics are ingested and stored by the Metric Store tile.

App Metrics uses the Metric Store tile for two purposes:
* querying for metrics
* registering monitors to receive alerts when the metrics surpass the monitor thresholds

Read more about the Metric Store tile in [their documentation](https://docs.pivotal.io/metric-store/0-3/index.html).

### Custom Metrics
Metrics Registrar can be used to collect custom application metrics.
Metrics Registrar is bundled alongside PAS which is already a dependency of App Metrics 2.0

To see custom application metrics in App Metrics 2.0, Metrics Registrar
needs to be configured to scrape Prometheus-style metrics from your applications.
These custom metrics will then be available inside Metrics Store to be visualized by App Metrics 2.0.

Please see the following two documentation links for further information.
* [Metric Registrar and Custom App Metrics](https://docs.pivotal.io/platform/application-service/2-8/metric-registrar/index.html)
* [How to use metrics registrar](https://docs.pivotal.io/platform/application-service/2-8/metric-registrar/using.html)

### Logs
The Log Store is a time series database for storing and querying Cloud Foundry application logs.

Logs are streamed into the store via the Loggregator V2 endpoint and stored via the Influx Storage Engine.
Log Store provides the capability for distributed configurations, scaled out to use multiple nodes.
Each node in a Log Store deployment manages disk usage to maximize stored logs without exceeding a
configured maximum disk utilization.

App Metrics queries the Log Store for logs, log searches, and search density histograms.

### Postgres datastore
The Postgres database stores the indicator documents, monitors documents, and the triggered alerts for the monitors.

When a client uploads an indicator document or monitor document, App Metrics stores it in the database. These documents
then display on the charts in the App Metrics dashboard.

When a monitor threshold is surpassed, the Metric Store tile sends a request to App Metrics. When App Metrics
receives this request, App Metrics stores a record of the alert in the Postgres datastore. These stored alerts
then display on the charts in the App Metrics dashboard.

##### Security

**In Transit**: All communication with the Postgres datastore is over TLS, following the guidelines in
[the Postgres documentation](https://www.postgresql.org/docs/11/ssl-tcp.html)

**At Rest**: The Postgres datastore doesn't store any sensitive information, so by default it is not encrypted.
If you would like to encrypt it, you can follow the
[steps for disk encryption](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/disk-encrypt.html).
