---
breadcrumb: PCF App Metrics Documentation
title: PCF App Metrics Product Architecture
owner: PCF App Metrics
list_style_none: true
---

This topic describes the product architecture of Pivotal Cloud Foundry (PCF) App Metrics.

## <a id="overview"></a>Overview

The diagram below shows the components of PCF App Metrics and the Cloud Foundry components that the PCF App Metrics system interacts with.

The following sections explain processes that run within the PCF App Metrics system.


##<a id="data-flow"></a> How Data Flows from the Firehose to the Datastores

This section describes how PCF App Metrics fills its datastores.


### Components

The following diagram highlights the components that convey metric and log data into the PostgreSQL and MySQL datastore.

### Process 

The following table describes how the components act during each stage.


##<a id="user-flow"></a> How the PCF App Metrics UI Retrieves Data from the Datastores

This section describes the flow of data through the system when you interact with the PCF App Metrics UI. 

### Components

The following diagram highlights the components involved in this process.

### Process

The following table describes how the components act during each stage.
