---
breadcrumb: App Metrics Documentation
title: App Metrics architecture
owner: App Metrics
list_style_none: true
---

<strong><%= modified_date %></strong>

The following diagram shows you the components of App Metrics and the Platform components that App Metrics interacts with.

To understand the architecture diagram, see the following guidelines:

* Cornered rectangles represent Platform tiles that App Metrics depends on.
* Rounded rectangles represent customer interaction points.
* Cylinders represent the data storage components of App Metrics.
* Blue colored components are packaged with App Metrics.

![alt-text="App Metrics and platform components interaction architecture"](./images/app-metrics-2-0-architecture.svg)

## <a id="data-flow"></a>Data flow

The following sections describe the components and how they contribute to the data flow.

### <a id="metrics"></a> Metrics

Metrics are ingested and stored by the Metric Store tile.

App Metrics uses the Metric Store tile for:

* Querying for metrics.
* Registering monitors to receive alerts when metrics surpass the thresholds.

For more information about the Metric Store tile,
see the [Metric Store documentation](https://docs.vmware.com/en/Metric-Store/index.html).

### <a id="custom-metrics"></a> Custom metrics

Metrics Registrar collects custom application metrics. Metrics Registrar is bundled with VMware Tanzu Application Service for VMs (TAS for VMs), which is a dependency of App Metrics.

To see custom application metrics for App Metrics, you must configure Metrics Registrar to scrape Prometheus style metrics from your applications. These custom metrics are available in the Metrics Store and appear in the App Metrics UI to digest the data.

For more information about Metrics Registrar, see:

* [Metric Registrar and Custom App Metrics](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/metric-registrar-index.html)
* [Using Metric Registrar](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/metric-registrar-using.html)

### <a id="logs"></a> Logs

The Log Store is a time series database for storing and querying application logs.

Logs are streamed into the Log Store through the Loggregator V2 endpoint and stored through the Influx Storage Engine.

Log Store provides the capability, for distributed configurations, to be scaled out to use multiple nodes.
Each node, in a Log Store deployment, manages disk usage to maximize stored logs without exceeding a
configured maximum disk utilization.

App Metrics queries the Log Store for logs, log searches, and density histograms.

### <a id="pg-datastore"></a> PostgreSQL datastore

The PostgreSQL database stores the indicator and monitor documents,
and trigger alerts for monitors.

When a client uploads an Indicator document or monitor document,
App Metrics stores it in the database. These documents
appear in the charts on your App Metrics dashboard.

When a monitor threshold is surpassed, the Metric Store tile sends a request to App Metrics. When App Metrics
receives this request, it stores a record of the alert in the PostgreSQL datastore. These stored alerts
appear in the charts on your App Metrics dashboard.

### <a id="security"></a> Security

**In Transit**: All communication with the PostgreSQL datastore is through the Transport Layer Security (TLS) protocol,
and follows the guidelines in [PostgreSQL documentation](https://www.postgresql.org/docs/11/ssl-tcp.html).

**At Rest**: The PostgreSQL datastore does not store any sensitive information,
so by default it is not encrypted.
If you want to encrypt it, see [Disk Encryption](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/security-pcf-infrastructure-disk-encrypt.html).
