---
breadcrumb: App Metrics Documentation
title: App Metrics Product Architecture
owner: App Metrics
list_style_none: true
---

<strong><%= modified_date %></strong>

## <a id="overview"></a>Overview

The following diagram shows the components of App Metrics and the Platform components that the App Metrics system interacts with.

![alt-text="App Metrics and platform components architecture"](./images/app-metrics-2-0-architecture.svg)

Understanding the diagram:

* The cornered rectangles represent Platform tiles that App Metrics v2.1 depends on.
* The rounded rectangles represent customer interaction points.
* The cylinders represent the data storage components of App Metrics v2.1.
* The blue components are packaged with App Metrics v2.1.

## <a id="data-flow"></a>Data Flow

The following sections describe the components and how they contribute to the data flow.

### <a id="metrics"></a> Metrics

Metrics are ingested and stored by the Metric Store tile.

App Metrics uses the Metric Store tile for following purposes:

* Querying for metrics
* Registering monitors to receive alerts when the metrics surpass the monitor thresholds

For more information about the Metric Store tile, see the [Metric Store documentation](https://docs.pivotal.io/metric-store).

### <a id="custom-metrics"></a> Custom Metrics

Metrics Registrar collects custom application metrics. Metrics Registrar is bundled with VMware Tanzu Application Service for VMs (TAS for VMs), which is a dependency of App Metrics v2.1.

To see custom application metrics for App Metrics v2.1,you need to configure Metrics Registrar to scrape Prometheus-style metrics from your applications. These custom metrics are then available inside Metrics Store and are visualized in App Metrics v2.1.

For more information, see:

* [Metric Registrar and Custom App Metrics](https://docs.pivotal.io/platform/application-service/metric-registrar/index.html)
* [Using Metric Registrar](https://docs.pivotal.io/platform/application-service/metric-registrar/using.html)

### <a id="logs"></a> Logs

The Log Store is a time series database for storing and querying application logs.

Logs are streamed into the Log Store through the Loggregator V2 endpoint and stored through the Influx Storage Engine.

Log Store provides the capability for distributed configurations, that are scaled out to use multiple nodes. Each node in a Log Store deployment manages disk usage to maximize stored logs without exceeding a
configured maximum disk utilization.

App Metrics queries the Log Store for logs, log searches, and search density histograms.

### <a id="pg-datastore"></a> PostgreSQL Datastore

The PostgreSQL database stores the indicator documents, monitors documents,
and the triggered alerts for the monitors.

When a client uploads an indicator document or monitor document,
App Metrics stores it in the database. These documents
are displayed on the charts in the App Metrics dashboard.

When a monitor threshold is surpassed, the Metric Store tile sends a request to App Metrics. When App Metrics
receives this request, App Metrics stores a record of the alert in the PostgreSQL datastore. These stored alerts
are then displayed on the charts in the App Metrics dashboard.

### <a id="security"></a> Security

**In Transit**: All communication with the PostgreSQL datastore is over Transport Layer Security (TLS), and follows the guidelines in
the [PostgreSQL documentation](https://www.postgresql.org/docs/11/ssl-tcp.html).

**At Rest**: The PostgreSQL datastore does not store any sensitive information, and by default it's not encrypted.
If you want to encrypt it, see [Disk Encryption](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/security-pcf-infrastructure-disk-encrypt.html).
