---
breadcrumb: PCF App Metrics Documentation
title: PCF App Metrics Product Architecture
owner: PCF App Metrics
list_style_none: true
---

This topic describes the product architecture of Pivotal Cloud Foundry (PCF) App Metrics.

## <a id="overview"></a>Overview

The diagram below shows the components of PCF App Metrics and the Cloud Foundry components that the PCF App Metrics system interacts with.

The following sections explain processes that run within the PCF App Metrics system.


##<a id="data-flow"></a> How Data Flows from the Firehose to the Datastores

Coming soon.

### Components

Coming soon.

### Process 

Coming soon.


##<a id="user-flow"></a> How the PCF App Metrics UI Retrieves Data from the Datastores

Coming soon.

### Components

Coming soon.

### Process

Coming soon.
