---
breadcrumb: App Metrics Documentation
title: Enable Envelope Selector in App Metrics
owner: App Metrics
list_style_none: true
---


If you enable **Envelope Selector**, only envelopes with application metric tags, for example, app_id and
applicationGuid are kept. The corresponding nozzle_skipped_envelopes_by_tag_total metric is also added.
For more information, see [Nozzle Job Metrics](https://docs.vmware.com/en/Metric-Store/1.6/metric-store/GUID-monitoring.html) in the Metric Store documentation.
You can configure Enable Envelope Selector in Tanzu Operations Manager.

## <a id='ConfigureEnableEnvelopeSelector'></a>Configuring Enable Envelope Selector

To configure Envelope Selector for the App Metrics tile, complete the following steps:

1. Click the **App Metrics** tile on the Tanzu Operations Manager Installation Dashboard.
1. Go to the **App Metrics Components Config** page.
1. Select the **Enable Envelope Selector** check box.
1. Click **Save**.

![Enable Envelope Selector](./images/enable-envelope-selector.png)
