---
breadcrumb: App Metrics Documentation
title: Enable Envelope Selector In App Metrics
owner: App Metrics
list_style_none: true
---

<strong><%= modified_date %></strong>

If enabled Envelope Selector, only envelopes with application metric tags, such as app_id and applicationGuid, are kept.
Added the corresponding nozzle_skipped_envelopes_by_tag_total metric. For more information, see Nozzle Job Metrics.
You can configure Enable Envelope Selector in Ops Manager.

## <a id='ConfigureEnableEnvelopeSelector'></a>Configuring Enable Envelope Selector
To configure Envelop Selector to the App Metrics tile, perform the following steps:
<ol>
<li>Click <strong>App Metrics</strong> tile on the Tanzu Operations Manager Installation Dashboard.</li>
<li>Navigate to <strong>App Metrics Components Config</strong></li>
<li>Select Enable Envelop Selector checkbox.</li>
<li>Click Save.</li>
</ol>
![alt-text="Enable Envelope Selector"](./images/enable-envelope-selector.png)
