---
breadcrumb: App Metrics Documentation
title: Enable Envelope Selector in App Metrics
owner: App Metrics
list_style_none: true
---

<strong><%= modified_date %></strong>

If you enable **Envelope Selector**, only envelopes with application metric tags, for example, app_id and
applicationGuid are kept, and the corresponding nozzle_skipped_envelopes_by_tag_total metric is also added.

For more information, see Nozzle Job Metrics.
You can configure Enable Envelope Selector in Tanzu Operations Manager.

## <a id='ConfigureEnableEnvelopeSelector'></a>Configuring Enable Envelope Selector
To configure Envelop Selector for the App Metrics tile, complete the following steps:
<ol>
<li>Click <strong>App Metrics</strong> tile on the Tanzu Operations Manager Installation Dashboard.</li>
<li>Go to <strong>App Metrics Components Config</strong>.</li>
<li>Select the **Enable Envelop Selector** check box.</li>
<li>Click Save.</li>
</ol>
![alt-text="Enable Envelope Selector"](./images/enable-envelope-selector.png)
