---
breadcrumb: PCF Metrics Documentation
title: PCF Metrics
owner: PCF Metrics
---

The Pivotal Cloud Foundry (PCF) Metrics tile stores metrics data from applications running on PCF and graphically presents that data for operators and developers. PCF Metrics helps operators and developers better understand the health and performance of their apps by providing a near real-time view of the following data:

* Container metrics: CPU, memory, and disk percentages (updated every 30 seconds)
* Network metrics: requests per second, HTTP errors per second, and request latency (updated every second)
* App events: create, update, start, stop, and crash (updated as they happen)

## Product Snapshot

<dl>
<dt>Current PCF Metrics Details</dt>
<dd><strong>Version</strong>: 1.1.5</dd>
<dd><strong>Release Date</strong>: 11/15/2016</dd>
<dd><strong>Compatible Ops Manager Version(s) for Install</strong>: 1.7.0 or later</dd>
<dd><strong>Compatible Ops Manager Version(s) for Upgrade</strong>: 1.7.8 or later</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.7.0 or later</dd>
<dd><strong>AWS support?</strong> Yes<dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
</dl>

<div class="note"><strong>Note</strong>: The PCF Metrics tile operates in lockstep with Pivotal Elastic Runtime.<br>
If you are upgrading from PCF 1.7 to PCF 1.8 and you are using PCF Metrics v1.0.x, you must update to a PCF Metrics v1.1.x tile before proceeding with the upgrade.</div>

## PCF Metrics User Guide

See the following topics for details about PCF Metrics:

* [Installing PCF Metrics](./installing.html)
* [Sizing PCF Metrics For Your System](./sizing.html)
* [Using PCF Metrics](./using.html)
* [PCF Metrics Product Architecture](./architecture.html)
* [Release Notes and Known Issues](./rn-ki.html)
