---
breadcrumb: App Metrics Documentation
title: App Metrics
owner: App Metrics
---


App Metrics for VMware Tanzu displays up to six weeks of logs, metrics, and event data from apps that run on
VMware Tanzu Application Service (TAS for VMs).
App Metrics graphically presents this data to help you better understand the health and performance of your apps.

# What's new in App Metrics

| For more information about... | See... |
|-------------------------------|--------|
| Spring Boot Micrometer and tagged metrics support | [Custom Metrics](./using.html#custom-metrics) |
| CAPI v3 multi-process and rolling deployment support | [Observability by Process Type](./using.html#app-instance) |
| Declarative custom observability codification | [Adding Custom Metrics Charts](./using.html#custom-metrics) |
| Persistent, sharable dashboard customizations | [Adding Custom Metrics Charts](./using.html#custom-metrics) |
| Improved time selection experience | [Time Selection](./using.html#time) |
| Improved data ingestion performance for live metrics and logs observation | [Live Metrics and Logs](./using.html#auto-refresh) |
| Metrics: Fault-tolerant, scalable metrics with increased data retention | [Metric Store](https://docs.vmware.com/en/Metric-Store/index.html#-about-metric-store-for-pcf) |
| Metrics: Easy querying | [Metric Store API](https://docs.vmware.com/en/Metric-Store/index.html) |
| Logs: Fault-tolerant, scalable logs with increased data retention | [Log Store](./index.html#log-store) |
| Logs: Easy querying | [Log Store API](./using.html#log-store-api) |

## <a id='log-store'></a> About the Log Store

In App Metrics, Log Store provides a persistent storage layer for logs sent through Loggregator.

Log Store has the following features:

* **Multi tenant awareness:** Log Store uses the auth proxy to ensure that app developers can only access their own logs.

* **Ubiquitous query language:** Log Store uses a PromQL style label selector query for filtering logs.

* **Powerful storage engine:** Log store uses the InfluxDB storage engine, which has built in compression and a memory efficient series index. For more
information about the InfluxDB storage engine, see the [InfluxDB documentation](https://docs.influxdata.com/influxdb).

Log Store offers multi-node deployments, data replication, and load balancing in a highly available configuration.

## <a id='snapshot'></a> Product snapshot

The following table provides version and version-support information about App Metrics.

<table class=“table”>
  <thead>
    <tr>
      <th>Element</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tile version</td>
      <td>v2.2.2</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>March 4, 2024</td>
    </tr>
    <tr>
      <td>Compatible Tanzu Operations Manager versions</td>
      <td>v2.6 and later</td>
    </tr>
    <tr>
      <td>Compatible TAS for VMs versions</td>
      <td>v2.11, v2.13, v3.0, v4.0 and v5.0</td>
    </tr>
    <tr>
      <td>IaaS support</td>
      <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
      <td>IPsec support</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Browser support</td>
      <td>Latest major versions of Google Chrome and Firefox browsers</td>
    </tr>
  </tbody>
</table>
