---
breadcrumb: PCF Metrics Documentation
title: PCF Metrics
owner: PCF Metrics
---

Pivotal Cloud Foundry (PCF) Metrics stores logs, metrics data, and event data from applications running on PCF for the past two weeks. 
It graphically presents this data to help operators and developers better understand the health and performance of their apps. 
PCF Metrics includes the following data views:

* **Container metrics**: CPU, memory, and disk usage percentages 
* **Network metrics**: requests per second, HTTP errors per second, and request latency 
* **App events**: create, update, start, stop, and crash
* **Logs**: searchable application logs 

For example, if you see a crash in the events view, you can zoom in on that time and view the corresponding container and network metrics. 
To help you troubleshoot, you can also see log output for that same time period. 

## Product Snapshot

<dl>
<dt>Current PCF Metrics Details</dt>
<dd><strong>Version</strong>: v1.2</dd>
<dd><strong>Release Date</strong>: November 29, 2016</dd>
<dd><strong>Compatible Ops Manager Version(s) for Install</strong>: v1.8.0 and later</dd>
<dd><strong>Compatible Ops Manager Version(s) for Upgrade</strong>: v1.7.8 and later</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.8.9 and later</dd>
<dd><strong>AWS support?</strong> Yes<dd>
<dd><strong>Azure support?</strong> Yes<dd>
<dd><strong>GCP support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
</dl>

<div class="note"><strong>Note</strong>: The PCF Metrics tile operates in lockstep with Pivotal Elastic Runtime.<br>
If you are upgrading from PCF v1.7 to PCF v1.8 and you are using PCF Metrics v1.0.x, you must update to a PCF Metrics v1.2 tile before proceeding with the upgrade.</div>

## PCF Metrics User Guide

See the following topics for details about PCF Metrics:

* [Installing PCF Metrics](./installing.html)
* [Sizing PCF Metrics For Your System](./sizing.html)
* [Using PCF Metrics](./using.html)
* [Troubleshooting PCF Metrics](./troubleshooting.html)
* [PCF Metrics Product Architecture](./architecture.html)
* [Release Notes and Known Issues](./rn-ki.html)
