---
breadcrumb: Pivotal App Metrics Documentation
title: Pivotal App Metrics
owner: Pivotal App Metrics
---

<p class="note warning"><b>Warning:</b> Pivotal App Metrics is in Beta.</p>

It can display up to six weeks worth of logs, metrics data, and event data from apps running on the Pivotal Platform. It graphically presents this data to help operators and developers better understand the health and performance of their apps.

## What's New in Pivotal App Metrics v2.0

| For more information about... | See... |
|------|---------|
| Spring Boot Micrometer and tagged metrics support | [Custom Metrics](./using.html#custom-metrics) |
| CAPI v3 multi-process and rolling deployment support | [Observability by Process Type](./using.html#app-instance) |
| Declarative custom observability codification | [Adding Custom Metrics Charts](./using.html#custom-metrics) |
| Persistent, sharable dashboard customizations | [Adding Custom Metrics Charts](./using.html#custom-metrics) |
| Improved time selection experience | [Time Selection](./using.html#time) |
| Improved data ingestion performance for live metrics and logs observation | [Live Metrics and Logs](./using.html#auto-refresh) |
| Fault-tolerant, scalable logs and metrics data storage | [Data Storage (TBD)](./using.html#data-access) |
| Increased metrics data retention | [Data Storage (TBD)](./using.html#data-access) |
| Increased logs data retention | [Data Storage (TBD)](./using.html#data-access) |
| Improved data ingestion performance | [Ingestion (TBD)](./using.html#data-access) |


## Product Snapshot

The following table provides version and version-support information about Pivotal App Metrics.

| Element | Details |
|------|---------|
| Tile version | v2.0 |
| Release date | 2019 |
| Compatible Ops Manager version(s) | v2.4 and later |
| Compatible Elastic Runtime version(s) | v2.4 and later |
| IaaS support | AWS, Azure, GCP, OpenStack, and vSphere |
| IPsec support | Yes |
