---
breadcrumb: App Metrics Documentation
title: Installing App Metrics
owner: App Metrics
list_style_none: true 
---

##<a id='prerequisites'></a>Prerequisites

Before you install App Metrics:

<p class="note"><b>Note:</b> App Metrics v2.0 requires <a href="https://docs.pivotal.io/metric-store" target="_blank">Metric Store</a> as its metrics datastore. You will need to install this tile before installing App Metrics.</p>

+ **If upgrading from the Metrics v1.x line:** 
The App Metrics tile will install as a seperate tile and will not install over the v1.x version of the Metrics tile. 
There is no data migration from the v1.x line to the v2.x line of the product. 
To maintain historical data please install both tiles  side-by-side for two weeks before uninstalling the Metrics v1.x line.
    <p class="note"><strong>Note:</strong> App Metrics will take over the `metrics.YOUR-SYSTEM-DOMAIN`. 
        Please turn off the `Push PCF Metrics Components Errand` for the Metrics v1.x tile to avoid install errors.
        Metrics v1.x will be accessible at `metrics-previous.YOUR-SYSTEM-DOMAIN`.
    </p>

## <a id='AddTile'></a>Download App Metrics

<ol>
<li>After you have installed the <a href="https://docs.pivotal.io/metric-store" target="_blank">Metric Store</a> tile in Ops Manager,
    download the App Metrics 2.0 product file from <a href="https://network.pivotal.io/products/apm" target="_blank">VMware Tanzu Network</a>.</li>
<li>Navigate to the Ops Manager Installation Dashboard and click Import a Product to upload the product file.</li>
<li>Under the Import a Product button, click + next to the version number of App Metrics. This adds the tile to your staging area.</li>
</ol>

## <a id='ConfigureAzs'></a>Configure AZs and Networks

To start using App Metrics, you need to configure the App Metrics tile by performing the following steps:
<ol>
<li>Click the App Metrics tile on the Ops Manager Installation Dashboard.</li>
<li>Navigate to Assign AZs and Networks and do the following:</li>
<ul>
<li>Select an Availability Zone (AZ) for placing singleton jobs.</li>
<li>Select one or more AZs for balancing other jobs. (Note: To create a highly available environment,
VMware recommends selecting multiple AZs.)</li>
<li>Select Network for installing App Metrics.</li>
</ul>
</ol>

## <a id='ConfigureFeatures'></a>(Optional) Configure App Metrics Features

Here you can configure the settings for App Metrics components, including Log Store.
<ol>
<li>Click the App Metrics tile on the Ops Manager Installation Dashboard.</li>
<li>Navigate to the App Metrics Components Config pane.</li>
<li>To disable the Logs Drawer on the App Metrics dashboard, deselect the "App Metrics Enable Logs" checkbox (enabled by default).</li>
<li>Set the App Metrics Logs Prune Threshold disk capacity percentage (set to 80% by default). This is the disk percentage at which Log Store will start to prune the oldest logs first.</li>
<li>Set the App Metrics Logs Prune Interval (set to two minutes by default). This is the frequency at which Log Store will check the disk capacity to make the pruning decision.</li>
<li>To enable a SOCKS proxy, select **Enable Socks Proxy** and set the `HTTP_PROXY`
    or `HTTPS_PROXY` environment variable to the URL of your proxy.
    This checkbox sets the `USE_SOCKS_PROXY` environment variable, which overrides the protocol for the proxy
    to use SOCKS instead of HTTP/HTTPS.</li>
</ol>

## <a id='ConfigureSyslog'></a>(Optional) Configure Syslog Forwarding

App Metrics supports forwarding syslog to an external log management service such as Papertrail, Splunk, or a custom enterprise log sink. You may find the VM logs useful for debugging problems in the system.

To enable remote syslog forwarding for Healthwatch, do the following:
<ol>
<li>Click the App Metrics tile on the Ops Manager Installation Dashboard.</li>
<li>Navigate to the Syslog pane.</li>
<li>Select Yes without encryption or Yes with TLS encryption to enable syslog forwarding.</li>
<li>For External Syslog Host, enter the address of syslog server where you want logs sent, such as [logs.example.com].</li>
<li>For External Syslog Port, enter the port of your syslog server, such as [29279].</li>
<li>For External Syslog Protocol, select the protocol for sending the logs.</li>
<li>(TLS only) For External Syslog Permitted Peer, enter the fingerprint or name of the remote peer, such as [*.example.com].</li>
<li>(TLS only) For External Syslog TLS CA Certificate, enter the CA certificate of the syslog destination.</li>
</ol>


## <a id='ConfigureMetricRegistrar'></a>(Optional) Configure Metric Registrar for Spring Boot Metrics

In order for Metric Registrar to accurately report Spring Metrics, the configuration for Metric Registrar must be updated in the Tanzu Application Service Tile.

To update the Metric Registrar configuration, do the following:
<ol>
<li>Click the Pivotal Application Service tile on the Ops Manager Installation Dashboard.</li>
<li>Navigate to the Metric Registrar pane.</li>
<li>Update the Blocked tags list and remove the `id` tag from the list of Blocked tags.</li>
</ol>
