---
breadcrumb: PCF Metrics Documentation
title: Installing PCF Metrics
owner: PCF Metrics
list_style_none: true 
---

This document describes how to install and configure Pivotal Cloud Foundry (PCF) Metrics.

<p class="note"><strong>Note</strong>: With the addition of application logs in PCF Metrics 1.1.X, the product has introduced new Elastic Search Master and Data nodes for logs storage. The additional storage required to support application logs increases the default tile size on install to approximately 250GB.</p> 

## <a id='pre-reqs'></a>Prerequisites

Ensure that you have installed the [Elastic Runtime Tile](http://docs.pivotal.io/pivotalcf/installing/index.html).

<p class="note"><strong>Note</strong>: The default <strong>Loggregator Port</strong> in Elastic Runtime is 443. In an AWS environment, the port must be changed to 4443.</p> 
  
## <a id='step1'></a> Step 1: Add the PCF Metrics Tile to Ops Manager
   <p class='note'><strong>Note</strong>: PCF Metrics should be installed on the same network as the Elastic Runtime Tile. </p>

1. Download the PCF Metrics file from
   [Pivotal Network](https://network.pivotal.io/products/pcf-metrics).
1. Upload the PCF Metrics file to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the **Available Products**
   view to add PCF Metrics to your **Installation Dashboard**.

## <a id='step2'></a>Step 2: Configure the PCF Metrics Tile

<p class="note"><strong>Note</strong>: The following procedures offer a standard configuration. To customize PCF Metrics for high capacity, see the <a href="sizing.html">Sizing PCF Metrics For Your System</a> topic.</p>

From the **Installation Dashboard**, click the **PCF Metrics** tile.

<p class='note'><strong>Note:</strong> The tile appears orange when it requires configuration.</p>

### Assign Availability Zones (AZs) and Networks.

1. Click **Assign AZs and Networks**.
1. Select an Availability Zone under **Place singleton jobs**.
   <br>
   Ops Manager runs Metrics jobs with a single instance in this Availability Zone.
1. Select one or more Availability Zones under **Balance other jobs**.
   <br>
   Ops Manager balances instances of Metrics jobs with more than one instance
   across the Availability Zones that you specify.
1. Use the drop-down menu to select a network.
1. Click **Save**.


### Alerts

1. Click **Alerts**.
1. Set the **Email** value.  Alerts for issues storing metrics into the MySQL cluster will be sent to this email address.

### Data Store

1. Click **Data Store**.
	![Ingestor](push-ingestor.png)
1. Review the **Elastic Search Heap Size** value. Elastic Search memory allocation for Heap use. Set to 50% of the memory allocated to the Elasticsearch instances in Resource Config or 31GB, whichever is smaller. Use a unit of M for megabytes or G for gigabytes.
1. Review the **MySQL InnoDB Buffer Size** value. Number of bytes for MySQL to use with memory allocation of InnoDB buffer. Set to 80% of the memory allocated to the MySQL instances in Resource Config. This does not take a unit, please provide the value in bytes.
1. Review the **MySQL Logqueue Count** value. You can increase this instance count at any time to accommodate higher levels of inbound metrics traffic. 
1. Review the **Elasticsearch Logqueue Count** value. You can increase this instance count at any time to accommodate higher levels of inbound log traffic. 
1. Review the **Ingestor Count** value. You can increase this instance count at any time to accommodate higher levels of Loggregator Firehose traffic. 
1. Click **Save**.

### Errands

1. Click **Errands**.
1. Review the **Post-Deploy Errands** and **Pre-Delete Errands**:
  * If this is the first deployment of the tile, all **Post-Deploy Errands** must be selected.
  * If you deselect the **Remove PCF Metrics 1.2 CF Resources** checkbox, artifacts may remain after the PCF Metrics tile uninstalls.


<p class="note"><strong>Note:</strong> The PCF Metrics tile selects all <strong>Post-Deploy Errands</strong>, by default. Do not deselect any of these checkboxes.</p>

### Resource Config

1. Click **Resource Config**.
	![Resource Config](resource-config.png)
1. Review the resource configurations. By default, the settings match the instance types that are best suited for each job. If you expect a high level of use, you may need to increase the disk resources available to your instances.
1. Click **Save**.

<p class="note"><strong>Note:</strong> There have been issues with the Ops Manager Bosh Director using persistent disks larger than 2TB.</p>

### Stemcell

1. Navigate to [Pivotal Network](https://network.pivotal.io) and click **Stemcells**.
1. Download the appropriate stemcell version for your IaaS.
   <p class='note'><strong>Note:</strong> On AWS make sure to use a HVM stemcell if you are using the default instance sizes.</p>
1. Click **Import Stemcell** and select the stemcell file you downloaded.

## <a id='step3'></a>Step 3: Smoke Testing of PCF Metrics Tile

PCF Metrics runs a set of smoke tests during installation to confirm system health.

###<a id='smoke-test-steps'></a> Smoke Test Steps

The Metrics tile will perform the following smoke tests:

1. Confirm that metrics are ingested into MySQL
1. Confirm that logs are ingested into Elasticsearch
1. Confirm that the APIs return metrics and logs.

###<a id='troubleshooting'></a> Troubleshooting

If errors occur while the smoke tests run, they will be summarized at the end of the errand log output. Detailed logs can be found where the failure occurs. Some common failures are listed below.

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Insufficient Resources</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Your Pivotal Cloud Foundry does not have enough Diego resources</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Increase the amount of Diego cells for your Pivotal Cloud Foundry installation.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed querying mysql</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Internal database schema is incorrect</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Run the DB Migrations errand and verify that it succeeds.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Received no results back from mysql - failing</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Ingestor is not functioning properly.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Verify the Ingestor is running and connected to the Firehose by checking the logs.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to connect to mysql</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>MySql is not running properly.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Check the logs for the MySQL instances to identify the root cause.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to start elasticsearch client</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Elasticsearch is not running correctly.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Verify all of the Elasticsearch nodes are running.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Never received app logs - something in the firehose -> elasticsearch flow is broken</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Ingestor is not inserting logs correctly</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Verify Ingestor and LogQueue are functioning correctly by checking their logs for errors.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
      <code>Network metrics are not available.</code>
      <code>Container metrics are not available.</code>
      <code>App events are not available.</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Metrics is incorrectly configured.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>The front end API is not receiving metrics from MySQL.  
  Investigate the cause by checking the logs for the <code>metrics</code> application located in the 
  <code>metrics-v1-2</code> space of the <code>system</code> organization.
  </td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
    <code>Logs are not available.</code>
    <code>Histograms are not available.</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Metrics is incorrectly configured.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>The front end API is not receiving logs from ElasticSearch.  
  Investigate the cause by checking the logs for the <code>metrics</code> application located in the 
  <code>metrics-v1-2</code> space of the <code>system</code> organization.  
  </td>
</tr>
</table>




## <a id='step4'></a>Step 4: Deploy PCF Metrics

Click **Apply Changes** to install the service. Review the [Using PCF Metrics](./using.html) topic for more information on how to log in, use, and interpret data from PCF Metrics.
