---
breadcrumb: PCF Metrics Documentation
title: Installing PCF Metrics
owner: PCF Metrics
list_style_none: true 
---

This document describes how to install and configure Pivotal Cloud Foundry (PCF) Metrics.

To use the custom metrics feature of the PCF Metrics tile, you must have the Metrics Forwarder tile.
However, the PCF Metrics tile can be installed without the Metrics Forwarder tile. 

For information about the components deployed as part of this install procedure,
see [PCF Metrics Product Architecture](./architecture.html).

##<a id='upgrade'></a>Upgrading from 1.4.x to 1.5.x

PCF Metrics 1.5 includes new data storage solutions for logs and metrics.

Due to a lack of an effective upgrade path from ElasticSearch to PostgreSQL for logs data, the recommended upgrade path is to install and run the 1.5 tile along side 1.4 in Ops Manager for the duration of your logs retention window to allow data to propagate in the new version.  

The metrics data storage has also been upgraded from MariaDB to Percona. Running 1.5 and 1.4 simultaneously will also allow for metrics data to be propagated in its new data store.

Support for running both 1.4 and 1.5 simultaneously has been included in 1.5, allowing users to manually install 1.5 along side 1.4 via Ops Manager or automate the installation via deployment pipeline.

<%= image_tag("ops-man-metrics-tiles-image.png", :alt => "PCF Metrics 1.4 and 1.5 installed in Ops Manager") %>

The dashboards for 1.4 and 1.5 will both be accessible during this period. While 1.4 and 1.5 are both installed, the 1.5 dashboard will be accessible via metrics.YOUR-SYSTEM-DOMAIN and 1.4 will be accessible via metrics-previous.YOUR-SYSTEM-DOMAIN. Additionally, a link will be available on the 1.5 dashboard to open the current app's metrics on the 1.4 dashboard.

<%= image_tag("previous-link.png", :alt => "View Metrics in Previous Version link") %>

Historical metrics and logs data will only be accessible via the 1.4 dashboard until data is propagated for the configured Metrics and Logs retention windows in 1.5. Once you have reached your configured retention window for logs and metrics in 1.5, the 1.4 tile can be uninstalled from your foundation at your leisure.

## <a id='step1'></a> Add the PCF Metrics Tile to Ops Manager

1. Download the latest PCF Metrics 1.5 tile from
   [Pivotal Network](https://network.pivotal.io/products/pcf-metrics).
1. Upload the PCF Metrics file to your Ops Manager installation.
1. Click  **Add** next to the uploaded product description in the **Available Products**
   view to add PCF Metrics to your **Installation Dashboard**.

## <a id='step2'></a>Configure the PCF Metrics Tile

<p class="note"><strong>Note</strong>: The following procedures offer a standard configuration.
              To customize PCF Metrics for high capacity,
              see the <a href="sizing.html">Sizing PCF Metrics for Your System</a>.</p>

1. From the **Installation Dashboard**, click the **PCF Metrics** tile.
1. Follow the procedures below to configure the PCF Metrics tile:
  + [Assign Availability Zones (AZs) and Networks](#az)
  + [Configure Metrics Components](#mc-config)
  + [Configure Resources](#resource-config)
  + [Import Stemcell](#stemcell)

### <a id='az'></a> Assign Availability Zones (AZs) and Networks

1. Click **Assign AZs and Networks**.
1. Select an Availability Zone under **Place singleton jobs**.
   <br>
   Ops Manager runs Metrics jobs with a single instance in this Availability Zone.
1. Select one or more Availability Zones under **Balance other jobs**.
   <br>
   Ops Manager balances instances of Metrics jobs with more than one instance
   across the Availability Zones that you specify.
1. Use the drop-down menu to select a network.
   <br>
   PCF Metrics should be installed on the same network the Pivotal Application Service tile uses.
   However, if you do select a different subnet network, then refer to the table below when you configure
   the subnet network in the Pivotal Application Service tile to make sure that you have
   the ports needed for each of the PCF Metrics data services.
   
    <table border="1" class="nice">
      <thead>
        <tr>
          <th>Service</th>
          <th>Port</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PostgreSQL (Logs Data)</td>
          <td>5524</td>
        </tr>
        <tr>
          <td>MySQL (Metrics Data)</td>
          <td>3306</td>
        </tr>
        <tr>
          <td>Redis (Data Caching and Aggregation)</td>
          <td>6379</td>
        </tr>
      </tbody>
    </table>
    
1. Click **Save**.

### <a id="mc-config"></a> Configure Metrics Components

1. Click **Metrics Components Config**.
1. Review the **MySQL Metrics Queue Count** value.
   You can increase this instance count at any time to accommodate higher levels of inbound metrics traffic. 
1. Review the **PostgreSQL Logs Queue Count** value.
   You can increase this instance count at any time to accommodate higher levels of inbound log traffic. 
1. Review the **Ingestor Count** value.
   You can increase this instance count at any time to accommodate higher levels of Loggregator Firehose traffic. 
1. Review the **Metrics API server instance count** value.
   You can increase this instance count at any time to accommodate deployments with more apps, metrics, and logs.
1. Click **Save**.

### <a id="resource-config"></a> Configure Resources

1. Click **Resource Config**.
1. Review the resource configurations. By default, the settings match the instance types that are best suited for each job.
   For reference, the following table shows the default resource and IP requirements for installing the PCF Metrics tile:
  <table border="1" class="nice">
    <thead>
    <tr>
      <th>Resource</th>
      <th>Instances</th>
      <th>Persistent</th>
      <th>CPU</th>
      <th>RAM</th>
      <th>Ephemeral</th>
      <th>Static IP</th>
      <th>Dynamic IP</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>PostgreSQL Logs Storage</td>
      <td>1 (Not configurable)</td>
      <td>500&nbsp;GB</td>
      <td>4</td>
      <td>16&nbsp;GB</td>
      <td>32&nbsp;GB</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Redis</td>
      <td>1 (Not configurable)</td>
      <td>100&nbsp;GB</td>
      <td>2</td>
      <td>4&nbsp;GB</td>
      <td>8&nbsp;GB</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>MySQL Metrics Storage</td>
      <td>1 (Not configurable)</td>
      <td>500&nbsp;GB</td>
      <td>4</td>
      <td>16&nbsp;GB</td>
      <td>32&nbsp;GB</td>
      <td>1</td>
      <td>0</td>
    </tr>
    </tbody>
  </table> 
    If you expect a high level of use, you might need to increase the disk resources available to your instances. 
    For more information, see [Sizing PCF Metrics for Your System](./sizing.html).
  
    <p class="note"><strong>Note:</strong> For Ops Manager v1.9, if you configure a job with persistent disk larger than 2&nbsp;TB,
       you might experience disk partitioning issues with the BOSH Director.</p>

1. Click **Save**.

### <a id="stemcell"></a> Import Stemcell

**For Ops Manager v2.0 and earlier:**

1. Navigate to Pivotal Network and click [Stemcells for PCF](https://network.pivotal.io/products/stemcells).
1. Download the appropriate stemcell version for your IaaS.
   <p class='note'><strong>Note:</strong> On AWS, make sure to use a Hardware Virtual Machine (HVM) stemcell if you are using the default instance sizes.</p>
1. Navigate to the **Stemcell** pane found under the **Settings** tab of your tile.
1. Click **Import Stemcell** and select the stemcell file you downloaded.

**For Ops Manager v2.1 and later:**

1. Follow the procedure outlined in [Importing and Managing Stemcells](https://docs-pcf-staging.cfapps.io/pivotalcf/2-1/opsguide/managing-stemcells.html).

## <a id='step3'></a>Deploy PCF Metrics

1. Click **Apply Changes** to install the service.
If the smoke tests fail, see [Smoke Test Errors](./troubleshooting.html#smoke-test) in _Troubleshooting PCF Metrics_.

For more information on how to log in, use, and interpret data from PCF Metrics, see [Monitoring and Troubleshooting Apps with PCF Metrics](./using.html).
