---
breadcrumb: App Metrics Documentation
title: Monitor Log Store
owner: App Metrics
list_style_none: true
---

<strong><%= modified_date %></strong>

You can monitor Log Store and the metrics that Log Store publishes.

## <a id='overview'></a> Observing the health of Log Store

You can use the metrics that Log Store publishes to observe the health of Log Store and determine if the VMs and disks are appropriately scaled.

You can scale Log Store vertically. When disk resources reach complete consumption, Log Store begins dropping the oldest data first. When memory or CPU
resources reach complete consumption, you can scale Log Store up.

The `dropped_envelopes_count` metric is a key capacity scaling indicator you can use to guide your scaling decisions for Log Store. When the `dropped_envelopes_count` metric increases at a steady rate, you might need to scale the size of your VMs up. For more information about this metric, see [Nozzle Job Metrics](#nozzle-metrics).

To understand the metrics that Log Store publishes, see the following sections:

* [Nozzle Job Metrics](#nozzle-metrics)
* [CF Auth Proxy Job Metrics](#cf-auth-proxy-metrics)
* [Log Store Job Metrics](#log-store-metrics)
* [Router Job Metrics](#router-metrics)

### <a id='nozzle-metrics'></a> Nozzle job mtrics

In Loggregator, nozzles receive log envelopes from the Reverse Log Proxy (RLP). For more information, see [Loggregator architecture]
(https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/loggregator-architecture.html) in the VMware Tanzu Application Service for VMs (TAS for VMs) documentation.

The following table describes the nozzle-related metrics that Log Store publishes:

<table class=“table”>
<thead>
<tr>
  <th>Metric</th>
  <th>Type</th>
  <th>Description</th>
  <th>Notes</th>
</tr>
</thead>
<tr>
  <td><code>ingress_count</code></td>
  <td>counter</td>
  <td>The number of logs a nozzle has received since the nozzle was deployed.</td>
  <td>When this metric increases, the nozzle is consuming metrics from the RLP as expected.</td>
</tr>
<tr>
  <td><code>dropped_envelopes_count</code></td>
  <td>counter</td>
  <td>The number of envelopes a nozzle drops.</td>
  <td>If this number is increasing at a steady rate, it may indicate that the app is sending more logs than the nozzle can accommodate. To solve this issue,
    you may need scale the size of your VMs up.</td>
</tr>
<tr>
  <td><code>ingress_byte_count</code></td>
  <td>counter</td>
  <td>The number of bytes a nozzle has received since the nozzle was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>egress_failure_count</code></td>
  <td>counter</td>
  <td>The number of logs a nozzle has failed to send since the nozzle was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>egress_count</code></td>
  <td>counter</td>
  <td>The number of logs a nozzle has sent since the nozzle was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>queue_error_count</code></td>
  <td>counter</td>
  <td>The number of errors that have occurred while a nozzle has attempted to write to the handoff queue.</td>
  <td></td>
</tr>
<tr>
  <td><code>queued_log_count</code></td>
  <td>counter</td>
  <td>The number of logs a nozzle has queued for hinted handoff.</td>
  <td></td>
</tr>
<tr>
  <td><code>replay_error_count</code></td>
  <td>counter</td>
  <td>The number of errors that have occurred while a nozzle has attempted to replay logs.</td>
  <td></td>
</tr>
<tr>
  <td><code>replayed_log_count</code></td>
  <td>counter</td>
  <td>The number of logs from handoff replays a nozzle has made successfully.</td>
  <td></td>
</tr>
<tr>
  <td><code>queue_disk_usage</code></td>
  <td>gauge</td>
  <td>The amount of disk the handoff queue for a nozzle uses.</td>
  <td></td>
</tr>
<tr>
  <td><code>ingress_connection_count</code></td>
  <td>gauge</td>
  <td>The number of incoming TCP connections to a nozzle.</td>
  <td></td>
</tr>
<tr>
  <td><code>egress_connection_count</code></td>
  <td>gauge</td>
  <td>The number of outgoing TCP connections from a nozzle.</td>
  <td></td>
</tr>
</table>

### <a id='cf-auth-proxy-metrics'></a> CF Auth Proxy job metrics

The following table describes the CF Auth Proxy-related metrics that Log Store publishes:

<table class=“table”>
<thead>
<tr>
  <th>Metric</th>
  <th>Type</th>
  <th>Description</th>
  <th>Notes</th>
</tr>
</thead>
<tr>
  <td><code>metric_store_auth_proxy_request_duration_seconds</code></td>
  <td>histogram</td>
  <td>The duration in seconds of requests made to the CF Auth Proxy.</td>
  <td></td>
</tr>
<tr>
  <td><code>metric_store_auth_proxy_capi_request_duration_seconds</code></td>
  <td>histogram</td>
  <td>The duration in seconds of external requests CF Auth Proxy has made to the Cloud Controller API (CAPI).</td>
  <td></td>
</tr>
<tr>
  <td><code>http_request_seconds</code></td>
  <td>summary</td>
  <td>The summary of seconds CF Auth Proxy has spent making HTTP requests.</td>
  <td></td>
</tr>
<tr>
  <td><code>http_request_count</code></td>
  <td>counter</td>
  <td>The number of completed HTTP requests the CF Auth Proxy has made.</td>
  <td></td>
</tr>
</table>

### <a id='log-store-metrics'></a> Log Store job metrics

The following table describes the Log Store-related metrics that Log Store publishes:

<table class=“table”>
<thead>
<tr>
  <th>Metric</th>
  <th>Type</th>
  <th>Description</th>
  <th>Notes</th>
</tr>
</thead>
<tr>
  <td><code>retention_seconds</code></td>
  <td>gauge</td>
  <td>The age in seconds of the oldest stored log in Log Store.</td>
  <td></td>
</tr>
<tr>
  <td><code>ingress_count</code></td>
  <td>counter</td>
  <td>The number of logs Log Store has received from Loggregator.</td>
  <td></td>
</tr>
<tr>
  <td><code>ingress_byte_count</code></td>
  <td>counter</td>
  <td>The number of bytes Log Store has received from Loggregator.</td>
  <td></td>
</tr>
<tr>
  <td><code>prune_count</code></td>
  <td>counter</td>
  <td>The number of prunes Log Store has performed.</td>
  <td>This count increases by one when disk usage reaches 80% of the Log Store prune threshold.</td>
</tr>
<tr>
  <td><code>expired_shards</code></td>
  <td>counter</td>
  <td>The number of expired shards in prunes Log Store has performed.</td>
  <td>The retention period for shards is 42 days by default. You can configure the retention period to last a maximum of 183 days by editing the <strong>Log
    Store retention period</strong> field in the <strong>App Metrics Component Config</strong> pane.</td>
</tr>
<tr>
  <td><code>stored_bytes_count</code></td>
  <td>gauge</td>
  <td>The number of bytes Log Store is using on disk.</td>
  <td></td>
</tr>
<tr>
  <td><code>ingress_connection_count</code></td>
  <td>gauge</td>
  <td>The number of incoming TCP connections to Log Store.</td>
  <td></td>
</tr>
<tr>
  <td><code>shard_count</code></td>
  <td>gauge</td>
  <td>The number of shards Log Store has stored in a partition.</td>
  <td></td>
</tr>
<tr>
  <td><code>http_request_count</code></td>
  <td>counter</td>
  <td>The number of completed HTTP requests Log Store has made.</td>
  <td></td>
</tr>
<tr>
  <td><code>stored_log_count</code></td>
  <td>counter</td>
  <td>The number of logs Log Store has stored to disk since Log Store was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>stored_log_failure_count</code></td>
  <td>counter</td>
  <td>The number of times Log Store has failed to store logs to a partition since Log Store was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>http_request_seconds</code></td>
  <td>summary</td>
  <td>The summary of seconds Log Store has spent making HTTP requests.</td>
  <td></td>
</tr>
</table>

### <a id='router-metrics'></a> Router job metrics

The following table describes the router-related metrics that Log Store publishes:

<table class=“table”>
<thead>
<tr>
  <th>Metric</th>
  <th>Type</th>
  <th>Description</th>
  <th>Notes</th>
</tr>
</thead>
<tr>
  <td><code>ingress_count</code></td>
  <td>counter</td>
  <td>The number of logs the router has received since the router was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>ingress_byte_count</code></td>
  <td>counter</td>
  <td>The number of bytes the router has received from Loggregator.</td>
  <td></td>
</tr>
<tr>
  <td><code>egress_failure_count</code></td>
  <td>counter</td>
  <td>The number of logs the router has failed to send since the router was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>egress_count</code></td>
  <td>counter</td>
  <td>The number of logs the router has sent since the router was deployed.</td>
  <td></td>
</tr>
<tr>
  <td><code>queue_error_count</code></td>
  <td>counter</td>
  <td>The number of errors that have occurred while the router has attempted to write to the handoff queue.</td>
  <td></td>
</tr>
<tr>
  <td><code>queued_log_count</code></td>
  <td>counter</td>
  <td>The number of logs the router has queued for hinted handoff.</td>
  <td></td>
</tr>
<tr>
  <td><code>replay_error_count</code></td>
  <td>counter</td>
  <td>The number of errors that have occurred while the router has attempted to replay logs.</td>
  <td></td>
</tr>
<tr>
  <td><code>replayed_log_count</code></td>
  <td>counter</td>
  <td>The number of logs from handoff replays the router has made successfully.</td>
  <td></td>
</tr>
<tr>
  <td><code>queue_disk_usage</code></td>
  <td>gauge</td>
  <td>The amount of disk the handoff queue for the router uses.</td>
  <td></td>
</tr>
<tr>
  <td><code>ingress_connection_count</code></td>
  <td>gauge</td>
  <td>The number of incoming TCP connections to the router.</td>
  <td></td>
</tr>
<tr>
  <td><code>egress_connection_count</code></td>
  <td>gauge</td>
  <td>The number of outgoing TCP connections from the router.</td>
  <td></td>
</tr>
</table>
