---
title: Resource Requirements
owner: PCF Metrics
---

The following table shows the default resource and IP requirements for installing the PCF Metrics tile:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Ephemeral</th>
    <th>Persistent</th>
    <th>Static IP</th>
    <th>Dynamic IP</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Elasticsearch Master</td>
    <td>3</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>10&nbsp;GB</td>
    <td>3</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Elasticsearch Coordinator</td>
    <td>2</td>
    <td>2</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>1&nbsp;GB</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Elasticsearch Data</td>
    <td>4</td>
    <td>2</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>100&nbsp;GB</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>MySQL Server</td>
    <td>2</td>
    <td>2</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>100&nbsp;GB</td>
    <td>3</td>
    <td>0</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>2</td>
    <td>2</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td><em>n/a</em></td>
    <td>2</td>
    <td>0</td>
  </tr>
  <tr>
    <td>MySQL Monitor</td>
    <td><em>n/a</em></td>
    <td>2</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td><em>n/a</em></td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Metron</td>
    <td><em>n/a</em></td>
    <td>2</td>
    <td>4&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td><em>n/a</em></td>
    <td>1</td>
    <td>0</td>
  </tr>
  </tbody>
</table>
