---
breadcrumb: App Metrics Documentation
title: App Metrics Release Notes and Known Issues
owner: App Metrics
list_style_none: true
---

This topic contains release notes for App Metrics v2.1.


## <a id='2-1-0'></a> v2.1.0

**Release Date: November 18, 2021**

App Metrics v2.1.0 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

## New Features

App Metrics v2.1.0 includes the following new features:

* Added triggered monitors view
* Added TAS for VMs v2.12 support
* Added filter logs by Task
* Added ability to change units of PromQL Explorer
* Changed PromQL Explorer window
* Added GET endpoint for indicator documents
* Added DELETE endpoint for monitor documents

### Resolved Issues

App Metrics v2.1.0 includes the following fixes:

* Changed default query of CPU chart
* Added spinner when downloading logs
* Improve UI error handling for Services
* Improve error handling on adding new monitors
* Added spinner when loading logs
* Fixed chart when point goes above 100%
* Fixed chart scrolling issue
* Fixed bug to be able to use dot in the log "highlight" field

### Maintenance Updates

App Metrics v2.1.0 includes the following updates:

* Log Store v4.0.152 fixes the issue in the querying part which could have a negative affect on load balancing
* Removed `bosh-dns`


## <a id="new-features"></a> New Features in App Metrics v2.1

App Metrics v2.1 includes the following new features:

* Added triggered monitors view
* Added TAS for VMs v2.12 support
* Added filter logs by Task
* Added ability to change units of PromQL Explorer
* Changed PromQL Explorer window
* Added GET endpoint for indicator documents
* Added DELETE endpoint for monitor documents


## <a id="deprecated-features"></a> Deprecated Features in App Metrics v2.1

App Metrics v2.1 removes the following features:

* Trace Explorer
* App Event Monitoring and Alerting Removed
* CF Staging Failed Event Removed


## <a name="tas-compatibility"></a> Compatibility with VMware Tanzu Application Service

App Metrics v2.1 requires the following versions of VMware Tanzu Application Service:

* **v2.6:** v2.6.21 or later
* **v2.7:** v2.7.17 or later
* **v2.8:** v2.8.11 or later
* **v2.9:** v2.9.5 or later
* **v2.10:** v2.10.0 or later
* **v2.11:** v2.11.0 or later
* **v2.12:** v2.12.1 or later

## <a name="ops-manager-compatibility"></a> Compatibility with Operations Manager

App Metrics v2.1 requires Operations Manager v2.6 or later.

## <a name="things-to-note"></a> Additional Items to Note

### Network Metrics

Please note that if the app you are monitoring is not configured to accept HTTP traffic, no data will be displayed on the HTTP Request Count, HTTP Request Latency, or HTTP Request Errors charts.

### Promql source_id tag

PromQL should always have the `source_id` tag for non-admin users.
The `source_id` tag is used to verify access to the requested application and without it non-admin users will not recieve data back from the metric store.
App Metrics supports using a $sourceId parameter in PromQL which automatically refers to the sourceId of the current app.
Example: cpu{source_id="$sourceId"}

### Custom Metric Process Labels

App Metrics v2.1 introduces a new app hierarchy to support multiple process types from CAPI v3. Processes that contain apporpriately tagged envelopes will be available for metric filtering, and will be labled accordingly within the charts.

There are some metrics, including custom and network metrics, that may not have proper process tagging available. In these cases, `sourceId={'YOUR_APP_ID'}` may be used.
