---
title: PCF Metrics Release Notes and Known Issues
owner: PCF Metrics
---

This topic contains release notes for Pivotal Cloud Foundry (PCF) Metrics.

## <a id='137'></a>v1.3.7

**Release Date: June 19, 2017**

### <a id="notes"></a>Notes

The following list describes what's new in PCF Metrics v1.3.7:

* **Running Errands by Default**: Push apps errand in PCF Metrics tile now defaults to always run, which fixes the bug where stemcell upgrades caused Elasticsearch to go into an unhealthy state.

## <a id='136'></a>v1.3.6

**Release Date: June 2, 2017**

### <a id="notes"></a>Notes

The following list describes what's new in PCF Metrics v1.3.6:

* **Intermediate Certs**: PCF Metrics v1.3.6 includes a bug fix that allows deployments to use certificates signed by intermediate certificate authorities.
* **Stemcell Bump**: Major stemcell version bump from 3263.x to 3363.x.

### <a id="issues"></a>Known Issues

See the Known Issues section for the previous release.

## <a id='135'></a>v1.3.5

**Release Date: May 9, 2017**

### <a id="notes"></a>Notes

The following list describes what's new in PCF Metrics v1.3.5:

* **Reduced Elasticsearch VM Footprint**: PCF Metrics v1.3.5 removes extraneous Elasticsearch VMs, greatly reducing the resource cost of the tile. 
* **Simplified Tile Installation**: Several fields in the tile config on Ops Manager have been removed to simplify the tile installation process.
* **Bug Fixes**: Users can now download logs when there is a filter applied.

### <a id="issues"></a>Known Issues

See the Known Issues section for the previous release.

## <a id='134'></a>v1.3.4

**Release Date: April 24, 2017**

### <a id="notes"></a>Notes

The following list describes what's new in PCF Metrics v1.3.4:

* **Dependency Graphs and Span ID Filtering**: PCF Metrics v1.3.4 re-enables dependency graphs and span id filtering on the trace explorer page. 
	<p class="note"><strong>Note</strong>: For the dependency graph and span id filtering to work correctly, you must have a version of ERT that is v1.9.16+, v1.10.3+, or v1.11.0+.</p>	
* **Compatibility with Azure/OpenStack**: This version of PCF Metrics can be successfully installed on Azure and OpenStack IaaSes.

### <a id="issues"></a>Known Issues

See the Known Issues section for the previous release.

## <a id='133'></a>v1.3.3

**Release Date: April 12, 2017**

### <a id="notes"></a>Notes

The following list describes what's new in PCF Metrics v1.3.3:

* **Internetless Installations**: PCF Metrics v1.3.3 removes multiple unnecessary dependencies that prevented the tile from being installed in an internetless environment.
* **Reduced MySQL Disk Usage**: Raw data in MySQL is now pruned after 2 days, greatly reducing the amount of disk space required to store metrics in MySQL.
* **Metrics Homepage Loads Faster**: Loading apps onto Metrics homepage is now cached. Subsequent loads of homepage should be considerably faster.
* **Bug Fixes:** Fixed stability issues and UI tweaks.

### <a id="issues"></a>Known Issues

See the Known Issues section for the previous release.

## <a id='130'></a>v1.3.0

**Release Date: February 23, 2017**

### <a id="notes"></a>Notes

The following list describes what's new in PCF Metrics v1.3.0:

* **Reduced Log Loss During Upgrades**: PCF Metrics uses a temporary datastore during Elasticsearch downtime, including upgrades, to significantly reduce log loss by continuing to store app logs from the Loggregator Firehose. The temporary datastore is a new Redis component deployed with PCF Metrics that operators must size according to the needs of their system. See [Configuring the Temporary Datastore](./sizing.html#temp-datastore) for more information.
	<p class="note"><strong>Note</strong>: PCF Metrics only uses the temporary datastore when upgrading from v1.3 or later.</p>	
* **The Trace Explorer**: PCF Metrics provides an interactive graph that allows you to trace requests as they flow through your apps and their endpoints, along with the corresponding logs. See the [Trace App Requests](./using.html#trace) section of _Monitoring and Troubleshooting Apps with PCF Metrics_.
* **Improved UI**: PCF Metrics v1.3.0 includes several UI enhancements such as a new time selector and an improved UX for collapsing and expanding which views you are interested in. To view the UI and understand the new functionality, see [Monitoring and Troubleshooting Apps with PCF Metrics](./using.html).
* **Events**: The **Events** graph now includes the following events:
	* **SSH**: This event corresponds to someone successfully using SSH to access a container that runs an instance of the app.
	* **STG Fail**: This event corresponds to your app failing to stage in PCF.

### <a id="issues"></a>Known Issues

The following sections describe the known issues in PCF Metrics v1.3.0

#### Compatibility with Elastic Runtime

PCF Metrics v1.3.x requires a version of Elastic Runtime between v1.9.0 and v1.11.x.

#### Installing Metrics on Azure/OpenStack

PCF Metrics v1.3.0 and v1.3.3 will not install correctly if you have ERT v1.10.x installed on Azure or OpenStack. Upgrade to v1.3.4 if you wish to use PCF Metrics with ERT v1.10.x on either of these IaaSes.

#### Metrics and Log Loss when Upgrading from v1.2 to v1.3

The upgrade process from v1.2 to v1.3 acts in the following sequence:

1. Removes the data storage components of v1.2
1. Deploys v1.3 data storage and ingestion components

The upgrade process does not save any v1.2 data and the new components do not begin ingesting and storing log or metrics data until they successfully deploy.

#### Smoke Test Failure

The PCF Metrics **Smoke Test** errand may fail if your deployment authenticates user sign-ons with an external SAML identity provider or an external LDAP server. In some cases, these external user stores have an additional login procedure that prevents the errand from authenticating with the deployment and validating against the Metrics API.

If you experience this issue, disable the **Smoke Test** errand in the PCF Metrics tile and click **Apply Changes** to run the install again.

See the [Configure Authentication and Enterprise SSO](http://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html#er-auth-config) section of the _Configuring Elastic Runtime_ topic for more information on what configurations can lead to this failure.

#### For Operators who Deploy PCF Metrics using BOSH

If both of the following are true, you may experience issues while using PCF Metrics:

* You deploy PCF Metrics using BOSH instead of using the PCF Metrics tile in Ops Manager.
* You use self-signed certificates.

Pivotal recommends using certificates issued by a Certificate Authority for BOSH deployments of this product.

## <a id="12x"></a>Past Minor v1.2.x

Release Notes for v1.1.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-2/rn-ki.html).

## <a id="11x"></a>Past Minor v1.1.x

Release Notes for v1.1.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-1/rn-ki.html).

## <a id="10x"></a>Past Minor v1.0.x

Release Notes for v1.0.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-0/rn-ki.html).
