---
breadcrumb: App Metrics Documentation
title: App Metrics Release Notes and Known Issues
owner: App Metrics
list_style_none: true
---

<strong><%= modified_date %></strong>

This topic contains release notes for App Metrics for VMware Tanzu
v2.0.


## <a id='2-0-7'></a> v2.0.7

**Release Date: June 23, 2021**

Requires TAS 2.11+, 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+.

## New Features

This release has the following new features:

* Ability to specify the Log Store partition count in the tile configuration through Ops Manager
* Ability to specify the Log Store retention period in the tile configuration through Ops Manager
* Added a <code>dropped_envelopes_count</code> metric for envelopes dropped by Log Store nozzle to detect the Firehose’s slow consumers

### Resolved Issues

This release has the following fixes:

* Fixes the known issue <a href="#log-store-out-of-memory">Log Store out of memory issue</a> by adding time-based pruning with a default of 42 days.

* **[Security Fix]** App Metrics uses `HIGH:+3DES:!aNULL` as its default Postgres SSL Cipher to address a critical CVE.
* **[Security Fix]** The jOOQ library is upgraded to v3.16.6 to address a critical CVE. For more information about this critical CVE, see
[CVE-2022-23221](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23221) on the CVE website.
* **[Security Fix]** The PostgreSQL JDBC Driver is upgraded to v42.3.6 to address a critical CVE. For more information about this critical CVE, see
[CVE-2022-21724](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-21724) on the CVE website.
* **[Security Fix]** BPM is upgraded to v1.1.16 and Routing is upgraded to v0.235.0 to address critical CVEs.
* **[Feature]** You can create, update, and delete custom charts.
* **[Feature]** You can add, edit, and delete monitors for charts.
* **[Feature]** You can configure App Metrics to send alerts for events or patterns in app logs. For more information about sending alerts for events in app logs, see [cURL Your Log Monitor Document to
App Metrics](event-alerting-reference.html#curling-log-monitor-document) in _Event Alerting Template Reference_.
* **[Feature Improvement]** Tanzu Operations Manager includes a configuration field to control the Log Store replication factor.
* **[Feature Improvement]** App Metrics uses TLS v1.2 version by default. You can change your TLS version using the `TLS_VERSION` environment variable.

### <a id='2-1-3'></a> v2.1.3

**Release Date: February 10, 2022**

App Metrics v2.1.3 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Security Fix]** Apache Log4J dependencies are updated to v2.17.1 to address a critical CVE. For more information about this critical CVE, see
[CVE-2021-44832](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44832) on the CVE website.

### <a id='2-1-2'></a> v2.1.2

**Release Date: December 16, 2021**

App Metrics v2.1.2 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Security Fix]** Apache Log4J dependencies are updated to v2.16.0 to address a critical CVE. For more information about this critical CVE, see
[CVE 2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228) on the CVE website.

### <a id='2-1-1'></a> v2.1.1

**Release Date: December 11, 2021**

App Metrics v2.1.1 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Security Fix]** Apache Log4J dependencies are updated to v2.15.0 to address a critical CVE. For more information about this critical CVE, see
[CVE 2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228) on the CVE website.

### <a id='2-1-0'></a> v2.1.0

**Release Date: November 18, 2021**

App Metrics v2.1.0 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Breaking Change]** BOSH DNS is removed.
* **[Feature]** The App Metrics UI includes a triggered monitors view.
* **[Feature]** App Metrics supports TAS for VMs v2.12.
* **[Feature]** You can filter logs by task.
* **[Feature]** App Metrics includes a `GET` endpoint that you can use to retrieve indicator documents.
* **[Feature]** App Metrics includes a `DELETE` endpoint that you can use to delete monitor documents.
* **[Feature Improvement]** You can change the units of PromQL Explorer.
* **[Feature Improvement]** App Metrics changes the PromQL Explorer window.
* **[Feature Improvement]** App Metrics changes the default query of the CPU chart.
* **[Feature Improvement]** UI error handling for Services is improved.
* **[Feature Improvement]** Error handling on adding new monitors is improved.
* **[Bug Fix]** Fixes chart when point goes above 100%.
* **[Bug Fix]** Fixes chart scrolling issue.
* **[Bug Fix]** You can use the dot in the **Highlight** field.
* **[Bug Fix]** Log Store is upgraded to v4.0.152. This fixes a bug in the querying part that negatively affects load balancing.


## <a id='2-0-6'></a> v2.0.6

**Release Date: March 29, 2021**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+.

## New Features

This release has the following new features:

* Ability to specify the Postgres SSL Cipher Suite in the tile configuration through Ops Manager

### Known Issues

This release has the following known issue:

* This release can cause a memory issue in the log store. See <a href="#log-store-out-of-memory">Log store out of memory issue</a>.

### Resolved Issues

This release has the following fixes:

* Postgres now only uses mTLS connections
* Added Postgres health check via smoke tests during install
* Added health-check for internal Postgres to the integration status endpoint
* No longer send duplicate slack alerts for configured monitors
* Accept http_proxy environment variable to detect both upper and lower cases
* Applications with a name containing “dashboard” will no longer causes a UI error
* Cloud foundry organization names that contain “/” no longer causes a UI error
* Displaying both application and process crash events in the CAPI Event chart
* Clean up security-groups created during install when uninstalling App Metrics

### Maintenance Updates

This release updates the following release:

* Log Store release to v4.0.50

Log Store has the following fixes:

* Upgraded log store to use the newest version of influxdb 1.x. This fixes a database corruption problem with a previous version of influxdb.
* Fixed an issue causing missing application logs when the partition count was not divisible by 3. Note that this only affected a small percentage of applications and was not a widespread issue.
* Fixed an issue that would cause requests to go to the wrong log store vm which would result in an error response. This issue was caused by the X-Forwarded-Host header being set incorrectly and/or manipulated in some environments. A new header is now being used to resolve this issue.
* Fix an issue with log-store vm configuration when adding additional availability zones
* The App Metrics UI includes a triggered monitors view.
* App Metrics supports TAS for VMs v2.12.
* You can filter logs by task.
* You can change units of PromQL Explorer.
* App Metrics changes the PromQL Explorer window.
* App Metrics includes a `GET` endpoint that you can use to retrieve Indicator documents.
* App Metrics includes a `DELETE` endpoint that you can use to delete Monitor documents.


## <a id='2-0-5'></a> v2.0.5

**Release Date: October 9, 2020**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+.

## New Features

This release has the following new features:

* When indicator documents are loaded, a test message is now sent to the defined webhook endpoints.

### Resolved Issues

This release has the following fixes:

* Webhook endpoints are no longer required to be Slack URLs. They will be sent to the webhook endpoint the format of:
    `{"text": "[<STATUS>] <MONITOR_NAME> violated threshold\nApp: <APP_NAME>\nIndicator: <INDICATOR_NAME>\nSince: <ALERT_TIME>\nCurrent value: <VALUE>\nDetails: <METRICS_URL>"}`

### Maintenance Updates

This release updates the following release:

* Log Store release to v4.0.14


## <a id='2-0-4'></a> v2.0.4

**Release Date: September 9, 2020**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+.

### Resolved Issues

This release has the following fixes:

* Too many routes for an app make time selection inaccessible. This addresses the known issue <a href="#unable-to-timeselector">Unable to view time selector for apps with long routes</a>.
* Promql Explorer unclickable in Firefox. This addresses the known issue <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>


## <a id='2-0-3'></a> v2.0.3

**Release Date: August 3, 2020**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+ due to a UAA client scope change.

This release made a change to the default dashboards instance queries to display by `instance_id` instead of by `process_instance_id`.
This was done for easier correlation with the CF CLI.
Metric Store versions 1.4.3 and prior do not parse `instance_id` as part of http metrics so an update to Metric Store will be required to view this information.

Additionally this release also made a change to display all labels returned from a promQL request.
These additional labels are needed to accurately view Spring Boot Metrics.
Please verify the <a href="https://docs.pivotal.io/app-metrics/2-0/installing.html#ConfigureMetricRegistrar">VMware Tanzu Application Service for VMs (TAS for VMs) or Pivotal Application Service (PAS) tile metric registrar configuration in regard to label filtering when emitting Spring Boot Metrics.</a>

### <a name="2-0-3-issues"></a> Known Issues

* <a href="#logs-1kb">Timeframe log file download is 1&nbsp;KB</a>
* <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>

### Resolved Issues

This release has the following fixes:

* CF Admin users can view all apps. This addresses the known issue <a href="#unable-to-view">CF Admin users are unable to view all apps in App Metrics</a>.
* Log Store release update to fix an issue with high resource usage. This addresses the known issue <a href="#log-store-resource-issue"> Log Store is reporting high resource usage</a>
* Hostname Verification is now ignored with skip-ssl-validation is true. This addresses the known issue <a href="#hostname-verification"> Hostname Verification is not ignored when skip-ssl-validation is true</a>

### Maintenance Updates

This release updates the following release:

* Log Store release to v3.0.2


## <a id='2-0-2'></a> v2.0.2

**Release Date: June 22, 2020**

### <a name="2-0-2-issues"></a> Known Issues

This release has the following issues:

* <a href="#unable-to-view">CF Admin users are unable to view all apps in App Metrics</a>
* <a href="#log-store-resource-issue"> Log Store is reporting high resource usage</a>
* <a href="#hostname-verification"> Hostname Verification is not ignored when skip-ssl-validation is true</a>
* <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>

### Resolved Issues

This release has the following fixes:

* Log Store is available for all apps. This addresses the known issue <a href="#log-store-issue">Log Store is unavailable for only certain apps</a>.
* Non-admin users are able to create monitors. This addresses the known issue <a href="#monitors">Non-admin users unable to create monitors</a>.

### Maintenance Updates

This release updates the following release:

* Log Store release to v3.0.0


## <a id='2-0-1'></a> v2.0.1

**Release Date: May 5, 2020**

### <a name="2-0-1-issues"></a> Known Issues

This release has the following issues:

* <a href="#unable-to-view">CF Admin users are unable to view all apps in App Metrics</a>
* <a href="#log-store-issue">Log Store is unavailable for some apps</a>
* <a href="#log-store-resource-issue">Log Store is reporting high resource usage</a>
* <a href="#monitors">Non-admin users unable to create monitors</a>
* <a href="#hostname-verification">Hostname Verification is not ignored when skip-ssl-validation is true</a>
* <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>

### Resolved Issues

This release has the following fixes:

* Single Sign-On not allowing user login
* App Metrics failing to start when app security groups are in use
* View in PCF Metrics link missing in Apps Manager
* Smoke Tests Fail on Environments with skip ssl verify set to true

### Maintenance Updates

This release moves App Metrics back to metrics.sys.DOMAIN


## <a id='20'></a> v2.0.0

**Release Date: April 3, 2020**

## <a id="new-features"></a> New Features in App Metrics v2.0

App Metrics v2.0 includes the following new features:

* Spring Boot Micrometer and tagged metrics support
* CAPI v3 multi-process and rolling deployment support
* Declarative custom observability codification using Indicator Protocol
* Create persistent, sharable dashboard customizations using Indicator Protocol
* All-new, improved time selection experience
* Improved data ingestion performance for live metrics and logs observation
* Fault-tolerant, scalable logs and metrics data storage
* Increased metrics data retention
* Increased logs data retention
* Improved data ingestion performance


## <a id="deprecated-features"></a> Deprecated Features in App Metrics v2.0

App Metrics v2.0 removed the following features:

* Trace Explorer
* App Event Monitoring and Alerting Removed
* CF Staging Failed Event Removed


## <a id="issues"></a> Known Issues

The following sections describe the known issues in App Metrics v2.0.

### Single Sign-On not allowing user login

Users attempting to log into App Metrics via Single Sign-On will be redirected to the login page without actually being logged into App Metrics.

This is due to the `UAA_URL` environment variable in the `appmetrics` app being set to `https://uaa.<system_domain>` instead of `https://login.<system_domain>`.

### App Metrics failing to start when app security groups are in use

App Metrics is unable to connect to its underlying postgres database and will hang until the app is stopped by CF if app security groups are in use.

Creating a security group with the below configuration and assigning it to the app metrics org (system) and space (app-metrics-v2) should allow the `appmetrics` app to start.
```json
[
  {
    "destination": "0.0.0.0-255.255.255.255",
    "protocol": "all"
  }
]
```

### <a name="log-store-out-of-memory"></a> Log store out of memory issue

High memory and CPU resource consumption. This causes log store failure with an `out of memory` error.

The root cause of problem was related to very old shards kept from past about 1-1.5 years, which are caused the log-store executable to overcommit OS limit: max_map_count.

The short time non permanent workaround is to increase max_map_count 65530 -> 2048000, but it will still work with high memory the reason of what are remaining old shards (not recommended)

### <a name="unable-to-timeselector"></a> Unable to view time selector for apps with long routes

Apps with long routes or multiple routes could make the time selector scroll off the page and be inaccessible.

### <a name="firefox-promql-explorer"></a> Promql Explorer unclickable in Firefox

The promql explorer is not clickable due to a CSS problem in Firefox.

### <a name="logs-1kb"></a> Timeframe log file download is 1&nbsp;KB

When you try to download logs for a given timeframe, an HTTP timeout can result in a 1&nbsp;KB log file.

The default HTTP timeout is 180 seconds.

To work around this issue, change the `TIMEOUT_SECONDS` environment variable for the `appmetrics` application to a value greater than `180`.

The `appmetrics` application is in the `system` org and `app-metrics-v2` space.

### <a name="unable-to-view"></a> CF Admin users unable to view all apps in App Metrics

The App Metrics client requests the `cloud_controller.admin_read_only` scope.

The App Metrics client does not have admin level permissions at this time and will require an update to TAS to add this.

For the time being, please add `cloud_controller.admin_read_only` to your admin users.

Any users logged into to App Metrics will need to log out and log back in after the change is made in UAA.

### <a name="hostname-verification"></a> Hostname Verification is not ignored when skip-ssl-validation is true

The App Metrics client was still verifying cert hostname when skip-ssl-validation was true

### <a name="monitors"></a> Non-admin users unable to create monitors

The monitors endpoint requires a user to have admin level permissions, specifically `doppler.firehose`.

For the time being, please use a user with the `doppler.firehose` scope to create monitors.

Any users logged into to App Metrics will need to log out and log back in after the change is made in UAA.

### <a name="apps-manager-link-issue"></a> View in PCF Metrics link missing in Apps Manager

App Metrics removed the path that Apps Manager checks to determine if App Metrics is installed on TAS.

### <a name="log-store-issue"></a> Log Store is unavailable for some apps

Log Store may experience this when a particular source id has millions of logs and the connection times out.

This required and update of the log store release packaged in App Metrics.

### <a name="log-store-resource-issue"></a> Log Store is reporting high resource usage

Log Store 3.0.2 fixes an issue with the hinted hand-off that was causing high resource usage
(memory, CPU, and/or disc usage) depending on the customer environment and machine size.

This requires and update of the log store release packaged in App Metrics.

### <a name="smoke-test-issue"></a> Smoke Tests Fail on Environments with skip ssl verify set to true

The smoke tests did not take the ssl verify configuration into account.

The smoke test errand can be turned off for affected environments.

The status of App Metrics can be checked by visiting `https://metrics.sys.DOMAIN/integration-status`


## <a name="tas-compatibility"></a> Compatibility with VMware Tanzu Application Service

App Metrics v2.0 requires the following versions of VMware Tanzu Application Service:

* v2.6: v2.6.x and later
* v2.7: all patches within minor
* v2.8: all patches within minor


## <a name="ops-manager-compatibility"></a> Compatibility with Operations Manager

App Metrics v2.0 requires the following versions of Operations Manager:

* v2.6: v2.6.x and later
* v2.7: all patches within minor
* v2.8: all patches within minor


## <a name="things-to-note"></a> Additional Items to Note

### Network Metrics

Please note that if the app you are monitoring is not configured to accept HTTP traffic, no data will be displayed on the HTTP Request Count, HTTP Request Latency, or HTTP Request Errors charts.

### Promql source_id tag

PromQL should always have the `source_id` tag for non-admin users.
The `source_id` tag is used to verify access to the requested application and without it non-admin users will not recieve data back from the metric store.
App Metrics supports using a $sourceId parameter in PromQL which automatically refers to the sourceId of the current app.
Example: cpu{source_id="$sourceId"}

### Custom Metric Process Labels

App Metrics v2.0 introduces a new app hierarchy to support multiple process types from CAPI v3. Processes that contain apporpriately tagged envelopes will be available for metric filtering, and will be labled accordingly within the charts.

There are some metrics, including custom and network metrics, that may not have proper process tagging available. In these cases, `sourceId={'YOUR_APP_ID'}` may be used.
