---
breadcrumb: App Metrics Documentation
title: App Metrics Release Notes and Known Issues
owner: App Metrics
list_style_none: true
---

This topic contains release notes for App Metrics 2.0 and later.

## <a id='2-0-6'></a>v2.0.6
**Release Date: March 19, 2021**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+.

## New Features

This release has the following new features:

<ul>
  <li>
    Ability to specify the Postgres SSL Cipher Suite in the tile configuration throw Ops Manager
  </li>
</ul>

### Resolved Issues

This release has the following fixes:

<ul>
  <li>
    Postgres only uses mTLS connections
  </li>
  <li>
      Check Postgres health via smoke tests in install
  </li>
  <li>
      Added health-check for internal Postgres
  </li>
  <li>
      No longer send duplicate slack alerts
  </li>
  <li>
      Accept http_proxy env variable with upper and lower cases
  </li>
  <li>
      Application with name containing “dashboard” no longer causes an ui error
  </li>
  <li>
      Org with name containing “/” no longer causes an ui error
  </li>
  <li>
      Displaying application and process crash events in Event chart
  </li>
  <li>
      Clean up security-group when uninstalling App Metrics
  </li>
</ul>

### Maintenance Updates

This release updates the following release:

<ul>
  <li>Log Store release to v4.0.50</li>
</ul>

Log Store has the following fixes:

<ul>
  <li>
    Fixed Log store dependency internal issue with newest version of influxdb 1.x
  </li>
  <li>
      Missing logs for a few apps when using partition count non divisible to 3
  </li>
  <li>
      Fixed load balancer side effect on log-store internal routing
  </li>
  <li>
      Fix for log-store breaking after AZ scaling up
  </li>
</ul>

## <a id='2-0-5'></a>v2.0.5

**Release Date: October 9, 2020**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+.

## New Features

This release has the following new features:

<ul>
  <li>
    When indicator documents are loaded, a test message is now sent to the defined webhook endpoints.
  </li>
</ul>

### Resolved Issues

This release has the following fixes:

<ul>
  <li>
    Webhook endpoints are no longer required to be Slack URLs.
    They will be sent to the webhook endpoint the format of:
    `{"text": "[<STATUS>] <MONITOR_NAME> violated threshold\nApp: <APP_NAME>\nIndicator: <INDICATOR_NAME>\nSince: <ALERT_TIME>\nCurrent value: <VALUE>\nDetails: <METRICS_URL>"}`
  </li>
</ul>

### Maintenance Updates

This release updates the following release:

<ul>
  <li>Log Store release to v4.0.14</li>
</ul>

## <a id='2-0-4'></a>v2.0.4

**Release Date: September 9, 2020**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+.

### Resolved Issues

This release has the following fixes:

<ul>
  <li>
   Too many routes for an app make time selection inaccessible.
   This addresses the known issue <a href="#unable-to-timeselector">Unable to view time selector for apps with long routes</a>.
  </li>
  <li>
    Promql Explorer unclickable in Firefox.
    This addresses the known issue <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>
  </li>
</ul>

## <a id='2-0-3'></a>v2.0.3

**Release Date: August 3, 2020**

Requires TAS 2.10+, 2.9.5+, 2.8.11+, 2.7.17+ or 2.6.21+ due to a UAA client scope change.

This release made a change to the default dashboards instance queries to display by `instance_id` instead of by `process_instance_id`.
This was done for easier correlation with the CF CLI.
Metric Store versions 1.4.3 and prior do not parse `instance_id` as part of http metrics so an update to Metric Store will be required to view this information.

Additionally this release also made a change to display all labels returned from a promQL request.
These additional labels are needed to accurately view Spring Boot Metrics.
Please verify the <a href="https://docs.pivotal.io/app-metrics/2-0/installing.html#ConfigureMetricRegistrar">VMware Tanzu Application Service for VMs (TAS for VMs) or Pivotal Application Service (PAS) tile metric registrar configuration in regard to label filtering when emitting Spring Boot Metrics.</a>

### <a name="2-0-3-issues"></a>Known Issues

<ul>
  <li>
    <a href="#logs-1kb">Timeframe log file download is 1&nbsp;KB</a>
  </li>
  <li>
    <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>
  </li>
</ul>

### Resolved Issues

This release has the following fixes:

<ul>
  <li>
   CF Admin users can view all apps.
   This addresses the known issue <a href="#unable-to-view">CF Admin users are unable to view all apps in App Metrics</a>.
  </li>
  <li>
    Log Store release update to fix an issue with high resource usage.
    This addresses the known issue <a href="#log-store-resource-issue"> Log Store is reporting high resource usage</a>
  </li>
  <li>
    Hostname Verification is now ignored with skip-ssl-validation is true.
    This addresses the known issue <a href="#hostname-verification"> Hostname Verification is not ignored when skip-ssl-validation is true</a>
  </li>
</ul>

### Maintenance Updates

This release updates the following release:

<ul>
  <li>Log Store release to v3.0.2</li>
</ul>


## <a id='2-0-2'></a>v2.0.2

**Release Date: June 22, 2020**

### <a name="2-0-2-issues"></a>Known Issues

This release has the following issues:

<ul>
  <li>
    <a href="#unable-to-view">CF Admin users are unable to view all apps in App Metrics</a>
  </li>
  <li>
    <a href="#log-store-resource-issue"> Log Store is reporting high resource usage</a>
  </li>
  <li>
    <a href="#hostname-verification"> Hostname Verification is not ignored when skip-ssl-validation is true</a>
  </li>
  <li>
    <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>
  </li>
</ul>

### Resolved Issues

This release has the following fixes:

<ul>
  <li>
   Log Store is available for all apps.
   This addresses the known issue <a href="#log-store-issue">Log Store is unavailable for
   only certain apps</a>.
  </li>
  <li>
    Non-admin users are able to create monitors.
    This addresses the known issue <a href="#monitors">Non-admin users unable to create monitors</a>.
  </li>
</ul>

### Maintenance Updates

This release updates the following release:

<ul>
  <li>Log Store release to v3.0.0</li>
</ul>

## <a id='2-0-1'></a>v2.0.1

**Release Date: May 5, 2020**
### <a name="2-0-1-issues"></a>Known Issues

This release has the following issues:

<ul>
  <li>
    <a href="#unable-to-view">CF Admin users are unable to view all apps in App Metrics</a>
  </li>
  <li>
   <a href="#log-store-issue">Log Store is unavailable for some apps</a>
  </li>
  <li>
    <a href="#log-store-resource-issue">Log Store is reporting high resource usage</a>
  </li>
  <li>
    <a href="#monitors">Non-admin users unable to create monitors</a>
  </li>
  <li>
    <a href="#hostname-verification">Hostname Verification is not ignored when skip-ssl-validation is true</a>
  </li>
  <li>
    <a href="#firefox-promql-explorer"> Promql Explorer unclickable in Firefox</a>
  </li>
</ul>

### Resolved Issues

This release has the following fixes:

<ul>
  <li>
    Single Sign-On not allowing user login
  </li>
  <li>
    App Metrics failing to start when app security groups are in use
  </li>
  <li>
    View in PCF Metrics link missing in Apps Manager
  </li>
  <li>
    Smoke Tests Fail on Environments with skip ssl verify set to true
  </li>
</ul>

### Maintenance Updates

This release moves App Metrics back to metrics.sys.DOMAIN

## <a id='20'></a>v2.0.0

**Release Date: April 3, 2020**

## <a id="new-features"></a>New Features in App Metrics v2.0

App Metrics v2.0 includes the following new features:

<ul>
<li>Spring Boot Micrometer and tagged metrics support</li>
<li>CAPI v3 multi-process and rolling deployment support</li>
<li>Declarative custom observability codification using Indicator Protocol</li>
<li>Create persistent, sharable dashboard customizations using Indicator Protocol</li>
<li>All-new, improved time selection experience</li>
<li>Improved data ingestion performance for live metrics and logs observation</li>
<li>Fault-tolerant, scalable logs and metrics data storage</li>
<li>Increased metrics data retention</li>
<li>Increased logs data retention</li>
<li>Improved data ingestion performance</li>
</ul>

## <a id="deprecated-features"></a>Deprecated Features in App Metrics v2.0

App Metrics v2.0 removed the following features:

<ul>
  <li>Trace Explorer</li>
  <li>App Event Monitoring and Alerting Removed </li>
  <li>CF Staging Failed Event Removed</li>
</ul>

## <a id="issues"></a>Known Issues

The following sections describe the known issues in App Metrics v2.0.0.

### Single Sign-On not allowing user login

Users attempting to log into App Metrics via Single Sign-On will be redirected to the login page without actually being logged into App Metrics.

This is due to the `UAA_URL` environment variable in the `appmetrics` app being set to `https://uaa.<system_domain>` instead of `https://login.<system_domain>`.

### App Metrics failing to start when app security groups are in use

App Metrics is unable to connect to its underlying postgres database and will hang until the app is stopped by CF if app security groups are in use.

Creating a security group with the below configuration and assigning it to the app metrics org (system) and space (app-metrics-v2) should allow the `appmetrics` app to start.
```json
[
  {
    "destination": "0.0.0.0-255.255.255.255",
    "protocol": "all"
  }
]
```

### <a name="unable-to-timeselector"></a>Unable to view time selector for apps with long routes

Apps with long routes or multiple routes could make the time selector scroll off the page and be inaccessible.

### <a name="firefox-promql-explorer"></a>Promql Explorer unclickable in Firefox

The promql explorer is not clickable due to a CSS problem in Firefox.

### <a name="logs-1kb"></a>Timeframe log file download is 1&nbsp;KB

When you try to download logs for a given timeframe, an HTTP timeout can result in a 1&nbsp;KB log file.

The default HTTP timeout is 180 seconds.

To work around this issue, change the `TIMEOUT_SECONDS` environment variable for the `appmetrics` application to a value greater than `180`.

The `appmetrics` application is in the `system` org and `app-metrics-v2` space.

### <a name="unable-to-view"></a> CF Admin users unable to view all apps in App Metrics

The App Metrics client requests the `cloud_controller.admin_read_only` scope.

The App Metrics client does not have admin level permissions at this time and will require an update to TAS to add this.

For the time being, please add `cloud_controller.admin_read_only` to your admin users.

Any users logged into to App Metrics will need to log out and log back in after the change is made in UAA.

### <a name="hostname-verification"></a> Hostname Verification is not ignored when skip-ssl-validation is true

The App Metrics client was still verifying cert hostname when skip-ssl-validation was true

### <a name="monitors"></a> Non-admin users unable to create monitors

The monitors endpoint requires a user to have admin level permissions, specifically `doppler.firehose`.

For the time being, please use a user with the `doppler.firehose` scope to create monitors.

Any users logged into to App Metrics will need to log out and log back in after the change is made in UAA.

### <a name="apps-manager-link-issue"></a>View in PCF Metrics link missing in Apps Manager

App Metrics removed the path that Apps Manager checks to determine if App Metrics is installed on TAS.

### <a name="log-store-issue"></a> Log Store is unavailable for some apps

Log Store may experience this when a particular source id has millions of logs and the connection times out.

This required and update of the log store release packaged in App Metrics.

### <a name="log-store-resource-issue"></a> Log Store is reporting high resource usage

Log Store 3.0.2 fixes an issue with the hinted hand-off that was causing high resource usage
(memory, CPU, and/or disc usage) depending on the customer environment and machine size.

This requires and update of the log store release packaged in App Metrics.

### <a name="smoke-test-issue"></a>Smoke Tests Fail on Environments with skip ssl verify set to true

The smoke tests did not take the ssl verify configuration into account.

The smoke test errand can be turned off for affected environments.

The status of App Metrics can be checked by visiting `https://metrics.sys.DOMAIN/integration-status`

## <a name="tas-compatibility"></a> Compatibility with VMware Tanzu Application Service

App Metrics v2.0 requires the following versions of VMware Tanzu Application Service:

* v2.6: v2.6.x and later
* v2.7: all patches within minor
* v2.8: all patches within minor

## <a name="ops-manager-compatibility"></a> Compatibility with Operations Manager

App Metrics v2.0 requires the following versions of Operations Manager:

* v2.6: v2.6.x and later
* v2.7: all patches within minor
* v2.8: all patches within minor

## <a name="things-to-note"></a> Additional Items to Note

### Network Metrics

Please note that if the app you are monitoring is not configured to accept HTTP traffic, no data will be displayed on the HTTP Request Count, HTTP Request Latency, or HTTP Request Errors charts.

### Promql source_id tag

PromQL should always have the `source_id` tag for non-admin users.
The `source_id` tag is used to verify access to the requested application and without it non-admin users will not recieve data back from the metric store.
App Metrics supports using a $sourceId parameter in PromQL which automatically refers to the sourceId of the current app.
Example: cpu{source_id="$sourceId"}

### Custom Metric Process Labels

App Metrics v2.0 introduces a new app hierarchy to support multiple process types from CAPI v3. Processes that contain apporpriately tagged envelopes will be available for metric filtering, and will be labled accordingly within the charts.

There are some metrics, including custom and network metrics, that may not have proper process tagging available. In these cases, `sourceId={'YOUR_APP_ID'}` may be used.
