---
breadcrumb: App Metrics Documentation
title: App Metrics Release Notes and Known Issues
owner: App Metrics
list_style_none: true 
---

This topic contains release notes for App Metrics 2.0 and beyond.

## <a id='20'></a>v2.0

**Release Date: April 3rd 2020.**

### <a id="new-features"></a>New Features in App Metrics v2.0

App Metrics v2.0 includes the following new features:

<ul>
<li>Spring Boot Micrometer and tagged metrics support</li>
<li>CAPI v3 multi-process and rolling deployment support</li>
<li>Declarative custom observability codification using Indicator Protocol</li>
<li>Create persistent, sharable dashboard customizations using Indicator Protocol</li>
<li>All-new, improved time selection experience</li>
<li>Improved data ingestion performance for live metrics and logs observation</li>
<li>Fault-tolerant, scalable logs and metrics data storage</li>
<li>Increased metrics data retention</li>
<li>Increased logs data retention</li>
<li>Improved data ingestion performance</li>
</ul>

### <a id="issues"></a>Known Issues

The following sections describe the known issues in App Metrics v2.0.

#### Compatibility with VMware Tanzu Application Service

App Metrics v2.0 requires the following versions of VMware Tanzu Application Service:

* v2.6: v2.6.x and later
* v2.7: all patches within minor
* v2.8: all patches within minor

#### Compatibility with Operations Manager

App Metrics v2.0 requires the following versions of Operations Manager:

* v2.6: v2.6.x and later
* v2.7: all patches within minor
* v2.8: all patches within minor

#### Network Metrics

Please note that if the application you are monitoring is not configured to accept HTTP traffic, no data will be displayed on the HTTP Request Count, HTTP Request Latency, or HTTP Request Errors charts.

#### Custom Metric Process Labels

App Metrics v2.0 introduces a new application hierarchy to support multiple process types from CAPI v3. Processes that contain apporpriately tagged envelopes will be available for metric filtering, and will be labled accordingly within the charts.

There are some metrics, including custom and network metrics, that may not have proper process tagging available. In these cases, the process will be labeled `sourceId={'YOUR_APP_ID'}`.
