---
breadcrumb: App Metrics Documentation
title: App Metrics release notes and known issues
owner: App Metrics
list_style_none: true
---

<strong><%= modified_date %></strong>

This topic tells you what's new, changed, and fixed for App Metrics v2.2 and earlier.

## <a id='releases'></a> Releases

### <a id='2-2-0'></a> v2.2
**Release Date: , 2023**

App Metrics v2.2 requires VMware Tanzu Application Service for VMs (TAS for VMs) v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later,
v2.10 (unsupported),v2.11, v2.12 (unsupported), v2.13, v3.0 or v4.0

* **[Breaking Change]** The Ubuntu Xenial Stemcell is  changed to Ubuntu Jammy Stemcell. App Metrics requires Ubuntu Jammy Stemcell v1.44 or higher.
* **[Feature Improvement]** In case of an error when you crate a custom chart, there is now more detailed information available about the error, which aids in better troubleshooting.
* **[Security Fix]** Add Secure and HttpOnly flags are added to Http Request.
* **[Security Fix]** The Web Server Name and Version information are hidden and added to HTTP response header.
* **[Security Fix]** Content-security-policy, referrer-policy, strict-transport-security
and x-content-type-options headers are added to HTTP response header.
* **[Security Fix]** The Updated SnakeYaml parser is upgraded v2.0 to address a critical CVE. For more information, see [CVE-2022-1471](https://nvd.nist.gov/vuln/detail/CVE-2022-1471) in the
National Vulnerability Database.
* **[Security Fix]** The moment.js JavaScript library is upgraded to v2.29.4 to address a critical CVE. For more information, see [CVE-2022-24785](https://nvd.nist.gov/vuln/detail/cve-2022-24785) in the
National Vulnerability Database.
* **[Security Fix]** The Hibernate Validator is upgraded to v6.1.7.Final to address a critical CVE. For more information, see [CVE-2020-10693](https://nvd.nist.gov/vuln/detail/CVE-2020-10693) in the
National Vulnerability Database.
* **[Bug Fix]** Fixes the Prometheus Querying Language, (PromQL) disappearance or modification issue in custom chart creation.
* **[Bug Fix]** Fixes the edit the custom chart, then click Execute Query > Save action not working properly issue.
* **[Bug Fix]** Fixes the new chart creation position list issue. Now, when you create a new custom chart, it’s always added
to the first position on the list.

## <a id='log-store-fix'></a> Log Store fixes
* **[Security Fix]** ] The Prometheus dependency is updated to avoid a security vulnerability in earlier versions of App Metrics.
* **[Bug Fix]** Fixes the issue with the log store VM failing
due to the log store process that was related to the startup process using corrupted TSM files. For more information, see [Log store VM keeps failing](https://pivotal-io.atlassian.net/browse/APPMETRICS-100).
* **[Bug Fix]** Fixes the issue that is related to a disk resource leak after horizontal
scaling. The unmanaged partitions were removed during the startup process.

### <a id='2-1-5'></a> v2.1.5

**Release Date: September 19, 2022**

App Metrics v2.1.5 requires VMware Tanzu Application Service for VMs (TAS for VMs) v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later,
v2.10, v2.11, v2.12, v2.13, v3.0 or v4.0

* **[Security Fix]** The `jetty-server` package and Spark Framework versions are upgraded to address critical CVEs. For more information about critical CVEs, see
[CVE-2022-2191](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-2191) and
[CVE-2022-2047](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-2047) on the CVE website.
* **[Security Fix]** `loggregator-agent-release` is upgraded to v6.4.3 to address critical CVEs.
* **[Feature Improvement]** App Metrics uses URI encoding to encode each string from the **Highlight** and **Keyword** fields. For example, to find the `%`
symbol, you only need to type `%` instead of `%25`.
* **[Feature Improvement]** In the App Metrics tile, the **Monitor name** field is included in the **Add Monitor** pane.

### <a id='2-1-4'></a> v2.1.4

**Release Date: July 19, 2022**

App Metrics v2.1.4 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, v2.12, v2.13 or v3.0.

* **[Security Fix]** App Metrics uses `HIGH:+3DES:!aNULL` as its default Postgres SSL Cipher to address a critical CVE.
* **[Security Fix]** The jOOQ library is upgraded to v3.16.6 to address a critical CVE. For more information about this critical CVE, see
[CVE-2022-23221](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23221) on the CVE website.
* **[Security Fix]** The PostgreSQL JDBC Driver is upgraded to v42.3.6 to address a critical CVE. For more information about this critical CVE, see
[CVE-2022-21724](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-21724) on the CVE website.
* **[Security Fix]** BPM is upgraded to v1.1.16 and Routing is upgraded to v0.235.0 to address critical CVEs.
* **[Feature]** You can create, update, and delete custom charts.
* **[Feature]** You can add, edit, and delete monitors for charts.
* **[Feature]** You can configure App Metrics to send alerts for events or patterns in app logs. For more information about sending alerts for events in app logs, see [cURL Your Log Monitor Document to
App Metrics](event-alerting-reference.html#curling-log-monitor-document) in _Event Alerting Template Reference_.
* **[Feature Improvement]** Ops Manager includes a configuration field to control the Log Store replication factor.
* **[Feature Improvement]** App Metrics uses TLS v1.2 version by default. You can change your TLS version using the `TLS_VERSION` environment variable.

### <a id='2-1-3'></a> v2.1.3

**Release Date: February 10, 2022**

App Metrics v2.1.3 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Security Fix]** Apache Log4J dependencies are updated to v2.17.1 to address a critical CVE. For more information about this critical CVE, see
[CVE-2021-44832](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44832) on the CVE website.

### <a id='2-1-2'></a> v2.1.2

**Release Date: December 16, 2021**

App Metrics v2.1.2 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Security Fix]** Apache Log4J dependencies are updated to v2.16.0 to address a critical CVE. For more information about this critical CVE, see
[CVE 2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228) on the CVE website.

### <a id='2-1-1'></a> v2.1.1

**Release Date: December 11, 2021**

App Metrics v2.1.1 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Security Fix]** Apache Log4J dependencies are updated to v2.15.0 to address a critical CVE. For more information about this critical CVE, see
[CVE 2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228) on the CVE website.

### <a id='2-1-0'></a> v2.1.0

**Release Date: November 18, 2021**

App Metrics v2.1.0 requires TAS for VMs v2.6.21 or later, v2.7.17 or later, v2.8.11 or later, v2.9.5 or later, v2.10, v2.11, or v2.12.

* **[Breaking Change]** BOSH DNS is removed.
* **[Feature]** The App Metrics UI includes a triggered monitors view.
* **[Feature]** App Metrics supports TAS for VMs v2.12.
* **[Feature]** You can filter logs by task.
* **[Feature]** App Metrics includes a `GET` endpoint that you can use to retrieve indicator documents.
* **[Feature]** App Metrics includes a `DELETE` endpoint that you can use to delete monitor documents.
* **[Feature Improvement]** You can change the units of PromQL Explorer.
* **[Feature Improvement]** App Metrics changes the PromQL Explorer window.
* **[Feature Improvement]** App Metrics changes the default query of the CPU chart.
* **[Feature Improvement]** UI error handling for Services is improved.
* **[Feature Improvement]** Error handling on adding new monitors is improved.
* **[Bug Fix]** Fixes chart when point goes above 100%.
* **[Bug Fix]** Fixes chart scrolling issue.
* **[Bug Fix]** You can use the dot in the **Highlight** field.
* **[Bug Fix]** Log Store is upgraded to v4.0.152. This fixes a bug in the querying part that negatively affects load balancing.


## <a id='new-features'></a> New features in App Metrics v2.1

App Metrics v2.1 includes the following new features:

* The App Metrics UI includes a triggered monitors view.
* App Metrics supports TAS for VMs v2.12.
* You can filter logs by task.
* You can change units of PromQL Explorer.
* App Metrics changes the PromQL Explorer window.
* App Metrics includes a `GET` endpoint that you can use to retrieve indicator documents.
* App Metrics includes a `DELETE` endpoint that you can use to delete monitor documents.


## <a id='deprecated-features'></a> Removed features in App Metrics v2.1

App Metrics v2.1 removes the following features:

* BOSH DNS
* Trace Explorer
* App Event Monitoring and Alerting
* CF Staging Failed Event


## <a id='things-to-note'></a> Additional notes

### <a id='things-to-note'></a> Network metrics

If the app you are monitoring is not configured to accept HTTP traffic, no data is displayed on the **HTTP Request Count**, **HTTP Request Latency**, or
**HTTP Request Errors** charts.

### <a id='things-to-note'></a> PromQL source_id tag

PromQL should always have the `source_id` tag for non-admin users. The `source_id` tag is used to verify access to the requested app. Without it, non-admin
users cannot receive data from the metric store.

App Metrics supports using a `$sourceId` parameter in PromQL, which automatically refers to the source ID of the current app. For example,
`cpu{source_id="$sourceId"}`.

### <a id='things-to-note'></a> Custom Metric Process labels

App Metrics v2.1 introduces a new app hierarchy to support multiple process types from CAPI v3. Processes that contain the appropriate tagged envelopes are
available for metric filtering and are labeled accordingly  in the charts.

Some metrics, including custom and network metrics, might not have proper process tagging available. In these cases, `sourceId={'APP-ID'}` can be used, where
`APP-ID` is the source ID of your app.
