---
title: PCF App Metrics Release Notes and Known Issues
owner: PCF App Metrics
list_style_none: true
---

This topic contains release notes for Pivotal Cloud Foundry (PCF) App Metrics.

## <a id='20'></a>v2.0

**Release Date: Not yet released.**

### <a id="new-features"></a>New Features in PCF App Metrics v2.0

PCF App Metrics v2.0 includes the following new features:

### <a id="issues"></a>Known Issues

This release has no known issues.