---
title: PCF Metrics Release Notes and Known Issues
owner: PCF Metrics
list_style_none: true
---

This topic contains release notes for Pivotal Cloud Foundry (PCF) Metrics.

## <a id='147'></a>v1.4.7

**Release Date: September 12, 2018**

### Notes

The following list describes what's new in PCF Metrics v1.4.7:

+ Updated GoLang version to `10.3`

## <a id='146'></a>v1.4.6

**Release Date: July 16, 2018**

### Notes

The following list describes what's new in PCF Metrics v1.4.6:

+ The `push-apps` metrics-ui app memory allocation has been bumped to 256&nbsp;MB to address errand failures.
+ Applied fix to allow errands to run while PCF Metrics v1.4 and v1.5 are installed simultaneously 
  during upgrade in Ops Manager.

## <a id='145'></a>v1.4.5

**Release Date: June 5, 2018**

### Notes

The following list describes what's new in PCF Metrics v1.4.5:

* The time scrubber end-time issue is fixed.
* The Node.js buildpack issue is fixed. 
* golang is upgraded to v1.9.6.
* The CF CLI is upgraded to v6.36.2 to support golang v1.9.x reversion.

## <a id='144'></a>v1.4.4

**Release Date: April 24, 2018**

### Notes

The following list describes what's new in PCF Metrics v1.4.4:

* Upgraded to the cf CLI v6.36.1 to resolve known `cf auth` errand failures.

## <a id='143'></a>v1.4.3

**Release Date: January 17, 2018**

### Notes

The following list describes what's new in PCF Metrics v1.4.3:

* UI bug fixes for metrics dropdown selection on dashboard 
* Upgraded to MySQL 36.10.0
* Upgraded major stemcell version to 3445.x

## <a id='142'></a>v1.4.2

**Release Date: October 31, 2017**

### Notes

The following list describes what's new in PCF Metrics v1.4.2:

* Bug fix for metrics configurable retention window, which will ensure that if you have set the retention to < 14 days, the data is correctly pruned for correct partions 
* Bug fix for delay in getting metrics from apps to PCF Metrics datastore. In 1.4.0, it was around 15 mins depending on # of apps and metrics emitted.


## <a id='140'></a>v1.4.0

**Release Date: September 28, 2017**

### Notes

The following list describes what's new in PCF Metrics v1.4.0:

* **Custom App Metrics**: PCF Metrics v1.4.0, when used along with [Metrics Forwarder](https://docs.pivotal.io/metrics-forwarder/index.html), supports custom app metrics. Users can configure their apps to send the metrics to PCF Metrics and view them on the PCF Metrics dashboard. **Spring Boot Actuator metrics** will be available on the PCF Metrics dashboard as an out-of-the-box feature for Spring Boot apps.
* **Instance-Level Metrics**: The PCF Metrics dashboard now enables users to view metrics for a specific app instance. Users can toggle between app instance and aggregated views and choose their preferred method of aggregation across instances.
* **Improved UI**: PCF Metrics v1.4.0 introduces major UI enhancements of the metrics dashboard, including interactive features such as adding, deleting, reordering, and expanding charts, to support custom metrics and optimize readability.
* **Improved Tile Configuration UX and VM Footprint Reduction**: The following changes have been made to the PCF Metrics tile configuration:
  * Users can configure the number of Metrics API instances under the **Metrics Components Config** section.
  * MySQL VM footprint has been reduced by switching from a Galera cluster to a single-node MySQL. The number of MySQL instances is no longer configurable by the user in the **Resource Config** section.
  * The unused Metron job was removed from **Resource Config**.
  * Redis job has been added to **Resource Config**. You can configure the number of instances and their size. For more information on how Redis is used in PCF Metrics, see [PCF Metrics Product Architecture](./architecture.html).


### Known Issues

The following sections describe the known issues in PCF Metrics v1.4.x.

#### metrics-ui Errand Failures

The `push-apps` errand metrics-ui allocation is set to 64MB by default, which can cause the errand to fail. Increasing the metrics-ui app memory allocation to 128MB resolves the issue and allows the errand to run as expected.

This can be changed via the Apps Manager or CLI after the initial failure by running the following command:

<pre>
cf scale metrics-ui -m 128M
</pre>

Please note that anytime the `push-apps` errand is re-run, the metrics-ui allocation reverts back to 64MB.

#### Node.js Buildpack Incompatibility

The latest versions of the Node.js buildpack are not compatible with PCF Metrics 1.4.4 and earlier. Please update to PCF Metrics 1.4.5 or later to address this issue.

#### Compatibility with Elastic Runtime

PCF Metrics v1.4.x requires Pivotal Application Service (formerly Elastic Runtime) v1.11.0 or later.

#### Using Custom App Metrics

To use custom app metrics in PCF Metrics, you must install the Metrics Forwarder tile and bind your apps to the Metrics Forwarder service. You can use PCF Metrics without Metrics Forwarder, but you will be able to view only default container metrics, network metrics, and app events.

#### Delay in Ingesting Metrics

To prevent metrics data backup in Redis, ensure that each app does not emit more than 400 metrics per minute. For deployments with a high number of apps, you may still experience a delay of up to 1-2 hours before metrics data appears on the dashboard. 

#### Smoke Test Failures Due to Elasticsearch

The PCF Metrics **Smoke Test** errand may fail if you have significant amount of log data stored in Elasticsearch and you perform one of the following actions:

* Upgrade from v1.3.x to v1.4.x
* Scale the number of Elasticsearch Master or Data instances

This happens because Elasticsearch may require up to 24 hours to re-allocate shards. During this time, you will not see any logs in the UI. However, no logs are lost. If you experience this issue, wait until your [Elasticsearch cluster is healthy/green](https://www.elastic.co/guide/en/elasticsearch/reference/2.2/_cluster_health.html). Smoke tests should pass once you re-run the PCF Metrics install.

#### Smoke Test Failures Due to User Authentication

The PCF Metrics **Smoke Test** errand may fail if your deployment authenticates user sign-ons
with an external SAML identity provider or an external LDAP server.
In some cases, these external user stores have an additional login procedure that prevents the errand
from authenticating with the deployment and validating against the Metrics API.

If you experience this issue, disable the **Smoke Test** errand in the PCF Metrics tile and click **Apply Changes** to run the install again.

For more information about what configurations lead to this failure,
see [Configure Authentication and Enterprise SSO](http://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html#er-auth-config) in _Configuring Elastic Runtime_.

#### For Operators Who Deploy PCF Metrics Using BOSH

If both of the following are true, you might experience issues while using PCF Metrics:

* You deploy PCF Metrics using BOSH instead of using the PCF Metrics tile in Ops Manager.
* You use self-signed certificates.

Pivotal recommends using certificates issued by a Certificate Authority for BOSH deployments of this product.

## <a id="13x"></a>Past Minor v1.3.x

Release Notes for v1.3.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-3/rn-ki.html).

## <a id="12x"></a>Past Minor v1.2.x

Release Notes for v1.2.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-2/rn-ki.html).

## <a id="11x"></a>Past Minor v1.1.x

Release Notes for v1.1.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-1/rn-ki.html).

## <a id="10x"></a>Past Minor v1.0.x

Release Notes for v1.0.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-0/rn-ki.html).
