---
title: PCF Metrics Release Notes and Known Issues
owner: PCF Metrics
list_style_none: true
---

This topic contains release notes for Pivotal Cloud Foundry (PCF) Metrics.

## <a id='161'></a>v1.6.1

**Release Date: August 5, 2019**

### Fixed Issues

This release addresses the issue in which the pushapps errand does not complete, stalling the installation of PCF Metrics.

### Maintenance Updates

This release includes the following component version upgrades:

* Upgrade metrics data store to PXC version v0.15.0
* Upgrade GoLang version v1.12.4
* Upgrade to CF CLI v1.16.0

## <a id='160'></a>v1.6.0

**Release Date: January 10, 2019**

### <a id="new-features"></a>New Features in PCF Metrics v1.6

The following list describes what's new in PCF Metrics v1.6:

* Support for automated application metric and event monitors configuration
* Improved logs datastore integrity via configurable Postgres Pruning
* Ability to configure the PCF Metrics tile to forward logs to a syslog endpoint (for PCF 2.4 and beyond)
* Xenial stemcell support

### <a id="issues"></a>Known Issues

The following sections describe the known issues in PCF Metrics v1.6.

#### Compatibility with Pivotal Application Service (formerly Elastic Runtime)

PCF Metrics v1.6.x requires the following versions of Pivotal Application Service:

* v2.2: v2.2.2 and later
* v2.3: all patches within minor
* v2.4: all patches within minor

#### Compatibility with Pivotal Cloud Foundry Operations Manager

PCF Metrics v1.6.x requires the following versions of Pivotal Cloud Foundry Operations Manager:

* v2.2: v2.2.9 and later
* v2.3: v2.3.3: and later
* v2.4: all patches within minor

#### Upgrade Compatibility with PCF Metrics 1.4

In order to successfully run both PCF Metrics 1.4 and 1.6 simultaneously during the upgrade period, ensure the 1.4 tile is updated to 1.4.6 or later. 1.4.5 and older will not support the secondary metrics URL `metrics-previous.YOUR-SYSTEM-DOMAIN` that allows the 1.4 dashboard to be viewed.

For more information about upgrading to PCF Metrics v1.6, see [Installing PCF Metrics](/pcf-metrics/1-6/installing.html#upgrade).

#### Postgres Logs Data Store Capacity Issue when Upgrading from 1.5.2 to 1.6.0

If you have upgraded to PCF Metrics 1.6.0 from 1.5.2, you may discover that your Postgres logs data store will fill up unexpectedly (even with pruning enabled).

In this scenario, you will need to delete the following volumes to allow the data pruning service to keep your Postgres instance operational:

```
/var/vcap/store/postgres/postgres-previous
/var/vcap/store/postgres/postgres-11.1
/var/vcap/store/postgres/pg_upgrade_tmp
```

#### Push Apps Errand Doesn't Complete

We are currently investigating an issue in PCF Metrics where the push apps errand does not complete, stalling the installation of PCF Metrics.

If the errand hangs on new installations of PCF Metrics 1.6, please kill the errand and attempt your installation again.

Once PCF Metrics 1.6 has been successfully installed, this errand can be disabled for subsequent builds of PCF Metrics.

<p class="note"><strong>Note</strong>: This issue is resolved in the PCF Metrics 1.6.1 release.</p>

#### Triggered Monitor Notifications (Beta) via Webhook with Proxy Settings

Metric and Event Monitors (Beta) will currently not send notifications to configured webhook URLs while `http_proxy` settings are enabled.

#### Using Custom App Metrics

To use visualize custom app metrics in PCF Metrics, you must take additional steps in order to emit these metrics and make them available through the Loggregator Firehose. You can use PCF Metrics without these additional steps, but you will be able to view only default container metrics, network metrics, and app events.

For more information about how to configure apps to emit custom metrics on PCF v2.2 through v2.4, see [Metrics Forwarder for PCF](https://docs.pivotal.io/metrics-forwarder/index.html). 

For more information about how to configure apps to emit custom metrics on PCF v2.5 and later, see [Configuring the Metric Registrar](https://docs.pivotal.io/pivotalcf/metric-registrar/index.html).

#### Delay in Ingesting Metrics

To prevent metrics data backup in Redis, ensure that each app does not emit more than 400 metrics per minute. For deployments with a high number of apps, you may still experience a delay of up to 1-2 hours before metrics data appears on the dashboard.

#### Logs Data Availability During Postgres Scaling

When you vertically scale your Postgres instance in PCF Metrics 1.6, Postgres enters an unhealthy period during which it does not ingest any new logs data until the scaling operation has completed.

For more information about scaling the Logs Postgres datastore, see [Sizing PCF Metrics for your System](/pcf-metrics/1-6/sizing.html#log-datastore).

#### Data Loss During Stemcell Upgrades

No metrics or logs data will be ingested during a stemcell or VM update. In tests on tile environments, stemcell updates resulted in approximately 9 minutes where logs data was not ingested.

#### Logs Data Export Limitation

Due to security, call pagination, and resource constraints, downloaded logs are limited to 10,000 log-line entries. If you need to export more logs data, we suggest looking directly at the [Loggregator Firehose](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#firehose) or utilizing the [Log Cache CLI](https://github.com/cloudfoundry/log-cache-cli).

#### Smoke Test Failures Due to User Authentication

The PCF Metrics **Smoke Test** errand may fail if your deployment authenticates user sign-ons with an external SAML identity provider or an external LDAP server.
In some cases, these external user stores have an additional login procedure that prevents the errand from authenticating with the deployment and validating against the Metrics API.

If you experience this issue, disable the **Smoke Test** errand in the PCF Metrics tile and click **Apply Changes** to run the install again.

For more information about what configurations lead to this failure,
see [Configure Authentication and Enterprise SSO](http://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html#er-auth-config) in Configuring Elastic Runtime.

#### For Operators Who Deploy PCF Metrics Using BOSH

If both of the following are true, you might experience issues while using PCF Metrics:

* You deploy PCF Metrics using BOSH instead of using the PCF Metrics tile in Ops Manager.
* You use self-signed certificates.

Pivotal recommends using certificates issued by a Certificate Authority for BOSH deployments of this product.

## <a id="14x"></a>Past Minor v1.5.x

Release Notes for v1.5.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-5/rn-ki.html).

## <a id="14x"></a>Past Minor v1.4.x

Release Notes for v1.4.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-4/rn-ki.html).

## <a id="13x"></a>Past Minor v1.3.x

Release Notes for v1.3.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-3/rn-ki.html).

## <a id="12x"></a>Past Minor v1.2.x

Release Notes for v1.2.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-2/rn-ki.html).

## <a id="11x"></a>Past Minor v1.1.x

Release Notes for v1.1.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-1/rn-ki.html).

## <a id="10x"></a>Past Minor v1.0.x

Release Notes for v1.0.x releases can be found [here](http://docs.pivotal.io/pcf-metrics/1-0/rn-ki.html).
