---
title: PCF App Metrics Release Notes and Known Issues
owner: PCF App Metrics
list_style_none: true
---

This topic contains release notes for Pivotal Cloud Foundry (PCF) App Metrics.

## <a id='20'></a>v2.0

**Release Date:**

### <a id="new-features"></a>New Features in PCF App Metrics v1.6

PCF App Metrics v1.6 includes the following new features:

* Support for automated application metric and event monitors configuration
* Improved logs datastore integrity via configurable Postgres Pruning
* Ability to configure the PCF App Metrics tile to forward logs to a syslog endpoint (for PCF 2.4 and beyond)
* Xenial stemcell support

### <a id="issues"></a>Known Issues

This release has the following known issues.

#### Known Issue

#### Known Issue

