---
breadcrumb: Pivotal App Metrics Documentation
title: Pivotal App Metrics Release Notes and Known Issues
owner: Pivotal App Metrics
list_style_none: true 
---

<p class="note warning"><b>Warning:</b> Pivotal App Metrics is in Beta.</p>

This topic contains release notes for Pivotal App Metrics 2.0 and beyond.

## <a id='20'></a>v2.0

**Release Date: Not yet released.**

### <a id="new-features"></a>New Features in Pivotal App Metrics v2.0

Pivotal App Metrics v2.0 includes the following new features:

<ul>
<li>Spring Boot Micrometer and tagged metrics support</li>
<li>CAPI v3 multi-process and rolling deployment support</li>
<li>Declarative custom observability codification using Indicator Protocol</li>
<li>Create persistent, sharable dashboard customizations using Indicator Protocol</li>
<li>All-new, improved time selection experience</li>
<li>Improved data ingestion performance for live metrics and logs observation</li>
<li>Fault-tolerant, scalable logs and metrics data storage</li>
<li>Increased metrics data retention</li>
<li>Increased logs data retention</li>
<li>Improved data ingestion performance</li>
</ul>

### <a id="issues"></a>Known Issues

The following sections describe the known issues in Pivotal App Metrics v2.0.

#### Compatibility with Pivotal Application Service (formerly Elastic Runtime)

Pivotal App Metrics v2.0 requires the following versions of Pivotal Application Service:

* v2.4: v2.4.x and later
* v2.5: v2.5.x and later
* v2.6: v2.6.x and later
* v2.7: all patches within minor

#### Compatibility with Pivotal Cloud Foundry Operations Manager

Pivotal App Metrics v2.0 requires the following versions of Pivotal Cloud Foundry Operations Manager:

* v2.4: v2.4.x and later
* v2.5: v2.5.x and later
* v2.6: v2.6.x and later
* v2.7: all patches within minor

#### Custom Metric Process Labels

Pivotal App Metrics v2.0 introduces a new application hierarchy to support multiple process types from CAPI v3. Processes that contain apporpriately tagged envelopes will be available for metric filtering, and will be labled accordingly within the charts.

There are some metrics, including custom and network metrics, that may not have proper process tagging available. In these cases, the process will be labeled `unknown`.

This will improve as additional support for multi-process tagging is backported to previous PAS versions.
