---
breadcrumb: Pivotal App Metrics Documentation
title: Pivotal App Metrics Release Notes and Known Issues
owner: Pivotal App Metrics
list_style_none: true 
---

This topic contains release notes for Pivotal App Metrics 2.0 and beyond.

## <a id='20'></a>v2.0

**Release Date: Not yet released.**

### <a id="new-features"></a>New Features in Pivotal App Metrics v2.0

Pivotal App Metrics v2.0 includes the following new features:

<ul>
<li>Spring Boot Micrometer and tagged metrics support</li>
<li>CAPI v3 multi-process and rolling deployment support</li>
<li>Declarative custom observability codification</li>
<li>Persistent, sharable custom dashboards</li>
<li>All-new, improved time selection experience</li>
<li>Improved data ingestion performance for live metrics and logs observation</li>
<li>Fault-tolerant, scalable logs and metrics data storage</li>
<li>Increased metrics data retention</li>
<li>Increased logs data retention</li>
<li>Improved data ingestion performance</li>
</ul>

### <a id="issues"></a>Known Issues

This release has no known issues.
