---
breadcrumb: Pivotal App Metrics Documentation
title: Sizing Pivotal App Metrics for Your System 
owner: Pivotal App Metrics
list_style_none: true 
---

<p class="note warning"><b>Warning:</b> Pivotal App Metrics v2.0 is in Beta. To provide feedback on Pivotal App Metrics v2.0, email <a href="mailto:pivotal-app-metrics@pivotal.io">pivotal-app-metrics@pivotal.io</a>.</p>

2.0 sizing details TBD.
