---
breadcrumb: Pivotal App Metrics Documentation
title: Troubleshooting Pivotal App Metrics
owner: Pivotal App Metrics
list_style_none: true 
---

<p class="note warning"><b>Warning:</b> Pivotal App Metrics v2.0 is in beta.
To provide feedback on Pivotal App Metrics v2.0, email <a href="mailto:pivotal-app-metrics@pivotal.io">pivotal-app-metrics@pivotal.io</a>.
</p>

## <a id="integration-errors"></a> Integration Errors

App Metrics is a nexus of four integration points:

* CF API
* UAA
* Log Store
* Metric Store

To monitor the status of these dependencies, check out the `/integration-status` endpoint.
It is a quick way to see if the app is able to communicate with each dependency,
`true` if accessible and `false` if not.

If there is an issue with one of the dependencies,
it may be worth investigating what is wrong with that particular component.

### <a id="troubleshooting-cf-api"></a> Troubleshooting CF API

See the [Cloud Controller documentation](https://docs.pivotal.io/platform/application-service/2-8/concepts/architecture/cloud-controller.html).

### <a id="troubleshooting-uaa"></a> Troubleshooting UAA

See the [UAA documentation](https://docs.pivotal.io/platform/application-service/2-8/concepts/architecture/uaa.html).

### <a id="troubleshooting-log-store"></a> Troubleshooting Log Store

Check out the log store VMs on the `appMetrics` deployment to investigate.

* Are the VMs/processes restarting?
* Are logs being stored? Check `/var/vcap/sys/log` to look at the logs for each process.
* What does memory usage look like?

### <a id="troubleshooting-metric-store"></a> Troubleshooting Metric Store

See [Metric Store documentation](https://docs.pivotal.io/metric-store).
