---
title: Troubleshooting PCF Metrics
owner: PCF Metrics
---

This topic describes how to resolve common issues experienced while operating or using Pivotal Cloud Foundry (PCF) Metrics.

##<a id='smoke-test'></a> Smoke Test Errors

PCF Metrics runs a set of smoke tests during installation to confirm system health. If the smoke tests discover any errors, you can find a summary of those errors at the end of the errand log output, including detailed logs about where the failure occurred. 

The following tables describe common failures and how to resolve them.

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Insufficient Resources</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Your PCF deployment has insufficient Diego resources to handle the apps pushed as part of a PCF Metrics installation. 
  <br><br>
  The PCF Metrics tile deploys the following apps:
  <table>
    <tr>
      <th>App</th>
      <th>Memory</th>
      <th>Disk</th>
    </tr>
    <tr>
      <td><code>metrics-ingestor</code><sup>*</sup></td>
      <td>512MB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>mysql-logqueue</code><sup>*</sup></td>
      <td>1GB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>elasticsearch-logqueue</code><sup>*</sup></td>
      <td>512MB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>metrics-aggregator</code></td>
      <td>256MB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>metrics</code></td>
      <td>1GB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>worker-app-dev</code></td>
      <td>1GB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>worker-app-logs</code></td>
      <td>1GB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>worker-health-check</code></td>
      <td>1GB</td>
      <td>1GB</td>
    </tr>
    <tr>
      <td><code>worker-reaper</code></td>
      <td>1GB</td>
      <td>1GB</td>
    </tr>
  </table>
  
   <sup>*</sup>You may have more than one instance of each of the Ingestor and Loqueue apps depending your <a href="./sizing.html">sizing</a> needs. You configure these instance counts as part of the <a href="./installing.html#data">Data Store</a> pane of the tile.</p></td></td>
</tr>
<tr>
  <th>Solution</th>
  <td>Increase the number of Diego cells so that your PCF deployment can support the apps pushed as part of the PCF Metrics installation:
  <br>
  <br>
  <ol>
  <li>Navigate to the <b>Resource Config</b> section of the Elastic Runtime tile.</li>
  <li>In the <b>Diego Cell</b> row, add another <b>Instance</b>.</li> 
  </ol>
</tr>
</table>
<br>
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed querying mysql</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The tile deployed without the necessary errands selected to keep the internal database schema in sync with apps.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Re-deploy the tile with the following errands selected: 
  <ul>
    <li>
      <b>Database migrations for PCF Metrics</b>
    </li>
    <li>
      <b>Push PCF Metrics Data components</b>
    </li>
    <li>
      <b>Push PCF Metrics UI component</b>
    </li>
  </ul>
  </td>
</tr>
</table>
<br>
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Received no results back from mysql - failing</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The Ingestor is not functioning properly.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
  <ol>
  <li>From the cf CLI, target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>Run <code>cf apps</code> to see if these apps are running:
      <ul>
        <li><code>metrics-ingestor</code></li>
        <li><code>mysql-logqueue</code></li>
      </ul>
    </li>
    <li>
      If the apps are not running, run the following commands to start them:
    </li>
       <pre class="terminal">$ cf start metrics-ingestor<br>$ cf start mysql-logqueue</pre>
    <li>
      Run the following commands and search the app logs for <code>ERROR</code> messages containing additional information:
    </li>
     <pre class="terminal">$ cf logs metrics-ingestor --recent<br>$ cf logs mysql-logqueue --recent</pre>
     <p class="note"><strong>Note</strong>: In some cases, the apps cannot communicate due to TLS certificate verification failure. If your deployment uses self-signed certs, ensure the <b>Disable SSL certificate verification for this environment</b> box is checked in the Elastic Runtime <b>Networking</b> pane.</p>
  </ol>
</tr>
</table>
<br>
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to connect to mysql</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>MySQL is not running properly.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
  <ol>
    <li>
    Check the logs of the MySQL Server and MySQL Proxy jobs for errors.  
      <ul><li>You can download the logs from the PCF Metrics tile under the <b>Status</b> tab.</li></ul>
    </li>
    <li>From the cf CLI, target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>
    Run the following command and ensure the security group can access the MySQL jobs:
    <p class="note"><strong>Note</strong>: PCF Metrics creates a default security group to allow all traffic to its apps.</p>
    </li>
    <pre class="terminal">$ cf security-group metrics-api</pre>
  </ol></td>
</tr>
</table>
<br>
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to start elasticsearch client</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Elasticsearch is not running correctly.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
  <ol>
    <li>
    Check the logs of the Elasticsearch Master, Elasticsearch Coordinator and Elasticsearch Data jobs for errors.  
      <ul><li>You can download the logs from the PCF Metrics tile under the <b>Status</b> tab.</li></ul>
    </li>
    <li>From the cf CLI, target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>
    Run the following command and ensure the security group can access the Elasticsearch jobs:
    <p class="note"><strong>Note</strong>: PCF Metrics creates a default security group to allow all traffic to its apps.</p>
    </li>
    <pre class="terminal">$ cf security-group metrics-api</pre>
  </ol></td>
</tr>
</table>
<br>
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Never received app logs - something in the firehose -> elasticsearch flow is broken</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Ingestor is not inserting logs correctly.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
  <ol>
  <li>From the cf CLI, target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>Run <code>cf apps</code> to see if these apps are running:
      <ul>
        <li><code>metrics-ingestor</code></li>
        <li><code>elasticsearch-logqueue</code></li>
      </ul>
    </li>
    <li>
      If the apps are not running, run the following commands to start them:
    </li>
      <pre class="terminal">$ cf start metrics-ingestor<br>$ cf start elasticsearch-logqueue</pre>
    <li>
      Run the following commands and search the app logs for <code>ERROR</code> messages containing additional information:
    </li>
     <pre class="terminal">$ cf logs metrics-ingestor --recent<br>$ cf logs elasticsearch-logqueue --recent</pre>
     <p class="note"><strong>Note</strong>: In some cases, you may discover a failure to communicate with Loggregator in the form of a bad handshake error. <br><br>Ensure the <b>Loggregator Port</b> setting in the Elastic Runtime tile <b>Networking</b> pane is set to the correct value. For AWS, it is <code>4443</code>. For all other IaaSes, it is <code>443</code>.
      </p></td>
  </ol>
</tr>
</table>
<br>
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
      <code>Network metrics are not available.</code><br>
      <code>Container metrics are not available.</code><br>
      <code>App events are not available.</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>PCF Metrics is misconfigured and the frontend API does not receive logs from MySQL.</td>
</tr>
<tr>
  <th>Solution</th>
  <td> 
  <ol>
  <li>From the cf CLI, target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>
      Run the following command to check the app logs and investigate the error:
    </li>
     <pre class="terminal">$ cf logs metrics --recent</pre>
  </ol>
  </td>
</tr>
</table>
<br>
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
    <code>Logs are not available.</code><br>
    <code>Histograms are not available.</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>PCF Metrics is misconfigured and the frontend API does not receive logs from Elasticsearch.</td>
</tr>
<tr>
  <th>Solution</th>
  <td> 
  <ol>
  <li>From the cf CLI, target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>
      Run the following command to check the app logs and investigate the error:
    </li>
     <pre class="terminal">$ cf logs metrics --recent</pre>
  </ol>
  </td>
</tr>
</table>

##<a id='log'></a> Log Errors

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
    The PCF Metrics UI does not show any new logs from Elasticsearch. 
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The tile deployed with the <code>Push PCF Metrics Data Components</code> errand deselected</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
  Restart the Elasticsearch Logqueue using the <a href="http://docs.pivotal.io/pivotalcf/cf-cli/index.html">cf CLI</a> as follows:
  <ol>
    <li>Target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>Run the following command to restart the Logqueue application:</li>
    <pre class="terminal">$ cf restart elasticsearch-logqueue</pre>
  </ol>
    <p class="note"><strong>Note</strong>: To avoid having to apply this fix in the future, select the checkbox to enable the <code>Push PCF Metrics Data Components</code> <a href="./installing.html#errands">errand</a> before your next tile update. </p>
  </td>
</tr>
</table>
