---
title: Troubleshooting PCF Metrics
owner: PCF Metrics
---

This topic describes how to resolve common issues experienced while operating or using Pivotal Cloud Foundry (PCF) Metrics.

##<a id='smoke-test'></a> Smoke Test Errors

PCF Metrics runs a set of smoke tests during installation to confirm system health. Errors that occur while the smoke tests run are are summarized at the end of the errand log output. You can find detailed logs where the failure occurs. The following list describes common failures.

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Insufficient Resources</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Your Pivotal Cloud Foundry deployment has insufficient Diego resources</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Increase the number of Diego cells for your Pivotal Cloud Foundry installation to support the applications pushed as part of the PCF Metrics installation.  This includes five 1GB memory, 1GB disk application instances associated with the PCF Metrics UI and well as the metrics ingestor, metrics logqueue and elasticsearch logqueue applications configured as part of <a href="./installing.html#data">Data Store configuration</a> during installation.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed querying mysql</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Internal database schema is out of sync with applications because the "Database migration for PCF Metrics", "Push PCF Metrics Data components" or "Push PCF Metrics UI components" errands were disabled for a deployment.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Ensure the "Database migrations for PCF Metrics", "Push PCF Metrics Data components" and "Push PCF Metrics UI components" errands are enabled and re-deploy.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Received no results back from mysql - failing</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Ingestor is not functioning properly</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Verify the Ingestor and MySQL Metrics Logqueue applications are running by reviewing the <code>metrics-ingestor</code> and <code>mysql-logqueue</code> applications in the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment.  Review the Ingestor logs using <code>cf logs metrics-ingestor --recent</code> and Metrics Logqueue logs using <code>cf logs mysql-logqueue --recent</code> for any <code>ERROR</code> messages containing additional information.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to connect to mysql</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>MySQL is not running properly</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Verify the MySQL Server and MySQL Proxy jobs are running correctly.  Check the logs for the MySQL Server and MySQL Proxy jobs for errors.  Review the security group associated with the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment with <code>cf security-group metrics-api</code> to ensure it is configured to be able to access to the MySQL jobs.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to start elasticsearch client</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Elasticsearch is not running correctly</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Verify the Elasticsearch Master, Elasticsearch Coordinator and Elasticsearch Data jobs are running correctly.  Review the logs of these jobs for errors.  Review the security group associated with the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment with <code>cf security-group metrics-api</code> to ensure it is configured to be able to access to the Elasticsearch jobs.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Never received app logs - something in the firehose -> elasticsearch flow is broken</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Ingestor is not inserting logs correctly</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Verify the Ingestor and Elasticsearch Logqueue are running by reviewing the <code>metrics-ingestor</code> and <code>elasticsearch-logqueue</code> applications in the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment.  Review the Ingestor logs using <code>cf logs metrics-ingestor --recent</code> and Metrics Logqueue logs using <code>cf logs elasticsearch-logqueue --recent</code>, searching for any <code>ERROR</code> messages containing additional information.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
      <code>Network metrics are not available.</code><br>
      <code>Container metrics are not available.</code><br>
      <code>App events are not available.</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Metrics is incorrectly configured</td>
</tr>
<tr>
  <th>Solution</th>
  <td>The frontend API is not receiving metrics from MySQL. Investigate the cause by checking the logs for the <code>metrics</code> application located in the <code>metrics-v1-2</code> space of the <code>system</code> organization.
  </td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
    <code>Logs are not available.</code><br>
    <code>Histograms are not available.</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Metrics is incorrectly configured.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>The frontend API is not receiving logs from Elasticsearch. Investigate the cause by checking the logs for the <code>metrics</code> application located in the <code>metrics-v1-2</code> space of the <code>system</code> organization. 
  </td>
</tr>
</table>

##<a id='log'></a> Log Errors

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>
    The PCF Metrics UI does not show any new logs from Elasticsearch. 
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>An operator updated the tile with the <code>Push PCF Metrics Data Components</code> errand deselected</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
  Restart the Elasticsearch Logqueue using the <a href="http://docs.pivotal.io/pivotalcf/cf-cli/index.html">cf CLI</a> as follows:
  <ol>
    <li>Target the <code>system</code> org and <code>metrics-v1-2</code> space of your PCF deployment:</li>
    <pre class="terminal">$ cf target -o system -s metrics-v1-2</pre>
    <li>Run the following command to restart the Logqueue application:</li>
    <pre class="terminal">$ cf restart elasticsearch-logqueue</pre>
  </ol>
    <p class="note"><strong>Note</strong>: To avoid having to apply this fix in the future, select the checkbox to enable the <code>Push PCF Metrics Data Components</code> <a href="./installing.html#errands">errand</a> before your next tile update. </p>
  </td>
</tr>
</table>
