---
breadcrumb: PCF Metrics Documentation
title: PCF Metrics
owner: PCF Metrics
---

Pivotal Cloud Foundry (PCF) Metrics stores logs, metrics data, and event data from apps running on PCF for the past two weeks. 
It graphically presents this data to help operators and developers better understand the health and performance of their apps.

## What's New in PCF Metrics v1.4

PCF Metrics v1.4 provides out-of-the-box Spring Boot Actuator metrics, custom app metrics, instance level metrics visualization, and contains a significant updates to the UI.

| For more information... | See...|
|------|---------|
| Spring Boot Actuator metrics | [Custom Metrics](./using.html#custom) |
| Custom app metrics | [Custom Metrics](./using.html#custom) |
| Instance-level metrics visualization | [View Metrics at App-Instance Level](./using.html#app-instance) |
| Installation steps | [Installing PCF Metrics](./installing.html) |


## Product Snapshot

The following table provides version and version-support information about PCF Metrics.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 2, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9 and later</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9 and later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>
## PCF Metrics User Guide

See the following topics for details about PCF Metrics:

* [Installing PCF Metrics](./installing.html)
* [Sizing PCF Metrics For Your System](./sizing.html)
* [Monitoring and Troubleshooting Apps with PCF Metrics](./using.html)
* [Troubleshooting PCF Metrics](./troubleshooting.html)
* [PCF Metrics Product Architecture](./architecture.html)
* [Release Notes and Known Issues](./rn-ki.html)
